footer.truss__15.footer--truss__12.S__cont__02
  .truss__16.contact--truss__15.U__array__01
    h4.heading--truss__16.S__sans__02 email + digits:
    a.phone--truss__16.S__sans__03(href="mailto:{{site.meta['email-address']}}") {{site.meta['email-address']}}
    a(href="tel:{{site.meta['phone-number']}}").S__sans__02 {{site.meta['phone-number']}}
  .social--truss__15.U__array__01.truss__14
    a.phone--truss__14(href="tel:{{site.meta['phone-number']}}")
    a.email--truss__14(href="mailto:{{site.meta['email-address']}}")
    a.instagram--truss__14(href="{{site.meta['instagram-link']}}")
    a.houzz--truss__14(href="{{site.meta['houzz-link']}}")
    a.fb--truss__14(href="{{site.meta['facebook-link']}}")
