footer.truss__15.footer__01--truss__09.S__bg__16.S__cont__14
  .truss__16.contact--truss__15.U__array__01
    h4.heading--truss__16.S__sans__18 email:
    if cms 
      a.email__01--truss__16.S__sans__18(href="mailto:{{site.meta['Email Address']}}") {{site.meta['Email Address']}}
    if !cms
      a.email__01--truss__16.S__sans__18(href="mailto:{{site.meta['Email Address']}}") info@email.com 
  .social--truss__15.U__array__01.truss__14
    a.phone__01--truss__14(href="tel:{{site.meta['Phone Number']}}")
    a.email__01--truss__14(href="mailto:{{site.meta['Email Address']}}")
    a.instagram__01--truss__14(href="{{site.meta['Instagram Link']}}")
    //-a.houzz__01--truss__14(href="{{site.meta['houzz-link']}}")
    a.fb__01--truss__14(href="{{site.meta['Facebook Link']}}")
