header.header__01--truss__09.truss__06.S__bg__16.S__cont__06
  include ../includes/nav__01.jade 
  div.truss__41.wrapper__01--truss__06.U__array__01
    a(href='#my-menu' class="U__show")
      span
    section.truss__20.logo__04--truss__41
      .container--truss__20.truss__17
        h2.wrapper--truss__17.truss
          a(href='/' class="truss__23 item--truss__03")
            if !cms
              img(src="../images/logo.svg").img--truss__23
            if cms
              img(src="/assets/images/logo.svg").img--truss__23
     include ../includes/nav__02.jade 
