meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge, chrome=1')
meta(name="viewport" content="width=device-width, initial-scale=1")

meta(name='Keywords', content="{{site.meta['keywords']}}")
meta(name='Description', content="{{site.meta['description']}}")

