if cms
  nav#nav.nav__01--truss__20
    h3.U__hidden Navigation
    ul.S__cont__04.nav--truss__21.
      {% for page in site.pages %}
        {% if page.url != "/" %}
          {% if page.url != "/offers" %}
            {% if page.url != "/in-the-community" %}
            <li><a href="{{page.url}}" class="S__sans__02 S__underline__02">{{page.url | remove:'/'}}</a></li> 
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    //-<li><a href="/contact/" class="S__sans__02 S__underline__02">Contact</a><li>

if !cms
  nav#nav.truss__21
    h3.U__hidden Navigation
    ul.S__cont__04.nav--truss__21
      li.current(style='white-space: nowrap;')
        a(href='/').S__sans__02.S__underline__02 Home
      li(style='white-space: nowrap;')
        a(href='/about/').S__sans__02.S__underline__02 About
      li.truss__(style='white-space: nowrap;')
        a(href='/projects/').S__sans__02.S__underline__02 Projects
      li(style='white-space: nowrap;')
        a(href='/contact/').S__sans__02.S__underline__02 Contact
