if cms
  nav#my-menu
    h3.U__hidden Side Navigation
    ul.
      {% for page in site.pages %}
        {% if page.url != "/in-the-communiy"%}
        {% if page.url != "/offers"%}
        {% if page.url == "/"%}
        <li><a href="{{page.url}}" class="S__sans__12">Home</a>{% if page.posts.size > 0 %}<ul>{% for post in page.posts %}<li><a href="{{post.url}}" class="S__sans__12">{{post.title}}</a></li>{% endfor %}</ul>{% endif %}</li>
        {% else %}
        <li><a href="{{page.url}}" class="S__sans__12">{{page.url | remove:'/' }}</a>{% if page.posts.size > 0 %}<ul>{% for post in page.posts %}<li><a href="{{post.url}}" class="S__sans__12">{{post.title}}</a></li>{% endfor %}</ul>{% endif %}</li>
        {% endif %}
        {% endif %}
        {% endif %}
      {% endfor %}


if !cms
  nav#my-menu
    //-test
    h3.U__hidden Side Navigation
    ul
      li
        a(href='/').S__sans__12 Home
      li
        a(href='/about/').S__sans__12 Projects
      li
        a(href='/process/').S__sans__12 Process
      li
        a(href='/process/').S__sans__12 About
      li
        a(href='/process/').S__sans__12 Blog
      li
        a(href='/conact/').S__sans__12 Contact
