if cms
  script(src='//code.jquery.com/jquery-1.11.0.min.js')
  <script>window.jQuery || document.write('<script src="/assets/js/jquery.min.js">\x3C/script>')</script>
  script(src='/assets/js/main.min.js', type='text/javascript')
if !cms
  script(src='//code.jquery.com/jquery-1.11.0.min.js')
  <script>window.jQuery || document.write('<script src="/vendor/jquery/dist/jquery.min.js">\x3C/script>')</script>
  script(src='/js/main.min.js', type='text/javascript')
