aside.truss__47.sidebar__01--truss__48
  h3.title__01--truss__47.S__sans__11 Archive
  ul.truss__50.item__01--truss__47.S__util__01
    if cms
      {% for post in posts %}
      <li class='item__01--truss__50'><a href='{{post.url}}' class='S__sans__10'>{{post.title}}</a></li>
      {% endfor %}
      {% for post in parent.posts %}
      <li class='item__01--truss__50'><a href='{{post.url}}' class='S__sans__10'>{{post.title}}</a></li>
      {% endfor %}
      
    if !cms
      li.item__01--truss__50
        a(href='/').S__sans__10 test link
      li.item__01--truss__50
        a(href='/').S__sans__10 test link
      li.item__01--truss__50
        a(href='/').S__sans__10 test link
      li.item__01--truss__50
        a(href='/').S__sans__10 test link
      li.item__01--truss__50
        a(href='/').S__sans__10 test link
      li.item__01--truss__50
        a(href='/').S__sans__10 test link
      li.item__01--truss__50
        a(href='/').S__sans__10 test link
      li.item__01--truss__50
        a(href='/').S__sans__10 test link
      li.item__01--truss__50
        a(href='/').S__sans__10 test link
      li.item__01--truss__50
        a(href='/').S__sans__10 test link
      li.item__01--truss__50
        a(href='/').S__sans__10 test link
      li.item__01--truss__50
        a(href='/').S__sans__10 test link
