//-link(rel='stylesheet', href='/css/normalize.css')
//-link(rel='stylesheet', href='/css/animate.css')
//-link(rel='stylesheet', href='/css/glide.css')
//-link(href='/vendor/featherlight/src/featherlight.css', type='text/css', rel='stylesheet')
//-link(href='/vendor/jQuery.mmenu/src/css/jquery.mmenu.all.css', type='text/css', rel='stylesheet')

//-link(rel='stylesheet', href='/css/normalize.css')
if cms
  script.
    if (/*@cc_on!@*/false) {
      document.write(' <link rel="stylesheet" href="/assets/css/gt-ie8.min.css" />');  
    }

  <!--[if (!IE) & (!IEMobile)]><!-->
  <link rel="stylesheet" href="/assets/css/style.min.css" media="all and (min-width:1px)">
  <!--<![endif]-->  

if !cms
  script.
    if (/*@cc_on!@*/false) {
      document.write(' <link rel="stylesheet" href="/css/gt-ie8.min.css" />');  
    }

  <!--[if (!IE) & (!IEMobile)]><!-->
  <link rel="stylesheet" href="/css/style.min.css" media="all and (min-width:1px)">
  <!--<![endif]-->  
//-link(href='/vendor/jQuery.mmenu/src/css/jquery.mmenu.all.css', type='text/css', rel='stylesheet')

