<!DOCTYPE html><html lang="en"><head><title>tile</title><meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1"><meta name="viewport" content="width=device-width, user-scalable=no"><meta name="Keywords" content="{{site.meta['keywords']}}"><meta name="Description" content="{{site.meta['description']}}"><script>if (/*@cc_on!@*/false) {
  document.write(' <link rel="stylesheet" href="/css/gt-ie8.min.css" />');  
}
</script><!--[if (!IE) & (!IEMobile)]><!-->
<link rel="stylesheet" href="/css/style.min.css" media="all and (min-width:1px)">
<!--<![endif]-->  </head><body><div id="video"></div><div class="truss__01"><div class="inner truss__08 wrapper__01--truss__01"><div class="nav__01--truss__08"><header class="truss__25"><a href="#my-menu__01"><span></span></a><nav id="nav" class="wrapper__01--truss__25"><ul class="S__cont__06 S__underline__01"><li style="white-space: nowrap;" class="current truss__27"><a href="/" class="item__01--truss__27 S__sans__02 S__underline__02">Home</a></li><li style="white-space: nowrap;" class="truss__27"><a href="/about/" class="item__01--truss__27 S__sans__02 S__underline__02">About</a></li><li style="white-space: nowrap;" class="truss__27"><a href="/projects/" class="item__01--truss__27 S__sans__02 S__underline__02">Projects</a></li><li style="white-space: nowrap;" class="truss__27"><a href="/contact/" class="item__01--truss__27 S__sans__02 S__underline__02">Conact</a></li></ul></nav><nav id="my-menu__01"><ul><li><a href="/" class="S__sans__02"> Home</a></li><li><a href="/about/" class="S__sans__02"> About us</a></li><li><a href="/projects/" class="S__sans__02">Projects</a></li><li><a href="/contact/" class="S__sans__02"> Contact</a></li></ul></nav></header></div><a class="phone--truss__08 S__cont__07 S__sans__08">1.800.555.5555</a><section class="logo--truss__08 truss__06"><div class="header__02--truss__06"><div><img src="/images/logo.svg" class="U__res__01"><h1 class="truss__03"></h1></div></div></section><div class="content slider"><ul class="content-wrapper slides"><li class="content_article content_article--fast slide"></li><li class="content_article content_article--simple slide"></li><li class="content_article content_article--responsive slide"></li></ul></div><footer class="truss__15 footer--truss__08 S__bg__17"><div class="truss__16 contact--truss__15 U__array__01"><h4 class="heading--truss__16 S__sans__03">email:</h4><a href="mailto:{{site.meta['email-address']}}" class="phone--truss__16 S__sans__03">{{site.meta['email-address']}}</a><a href="tel:{{site.meta['phone-number']}}" class="S__sans__03">{{site.meta['phone-number']}}</a></div><div class="social--truss__15 U__array__01 truss__14"><a href="tel:{{site.meta['phone-number']}}" class="phone--truss__14"></a><a href="mailto:{{site.meta['email-address']}}" class="email--truss__14"></a><a href="{{site.meta['instagram-link']}}" class="instagram--truss__14"></a><a href="{{site.meta['houzz-link']}}" class="houzz--truss__14"></a><a href="{{site.meta['facebook-link']}}" class="fb--truss__14"></a></div></footer></div></div><script src="//code.jquery.com/jquery-1.11.0.min.js"></script><script>window.jQuery || document.write('<script src="/vendor/jquery/dist/jquery.min.js">\x3C/script>')</script><script src="/js/main.min.js" type="text/javascript"></script><script>$(window).load(function() {
  $('#video').YTPlayer({
    fitToBackground: true,
    videoId: 'dewnKSlpMzs'
    
  });
  $("#my-menu__01").mmenu();
});

</script></body></html>