doctype html

html(lang='en')
  head
    include ../includes/title__01.jade
    include ../includes/meta__01.jade
    include ../includes/styles__01.jade

  body.S__bg__18
    .truss__09.S__bg__18
      include ../includes/header__02.jade
      div.wrapper__03--truss__09.truss__12.inner.S__bg__18.U__center__02
        div.truss__18.content__01--truss__12.S__bg__18.U__array__03
          section.truss__42.content__04--truss__18
            header.truss__19
              h1.title__02--truss__19.S__lato__02 {{title}}
              div.content__01--truss__18.truss__24.cms__01.S__gen__02.
                <script type="text/javascript" src="https://www.formlets.com/public/assets/scripts/built/delivery/vendor/iframeResizer.min.js"></script><iframe id="formlets-iframe" src="https://www.formlets.com/forms/5690351bad3a172c10960476?iframe=true" frameborder="0" width="100%"></iframe><script type="text/javascript" src="https://www.formlets.com/public/assets/scripts/built/delivery/iframe.js"></script>


      include ../includes/footer__02.jade 
    include ../includes/scripts__01.jade
    script.
      $(document).ready(function() {
      $("#my-menu").mmenu();
      });
