doctype html
html(lang='en')
  head
    include ../includes/meta__01.jade
    include ../includes/title__01.jade
    include ../includes/styles__01.jade

  if cms
    style.
      {% for asset in assets %}
      ._{{asset.meta['name']}} {
        background-image: url('/assets/{{asset.filename}}');
      }
      {% endfor %}

      {% for post in site.pages['offers'].posts limit:1 %}
        {% for asset in post.assets limit:1 %}
        ._{{asset.meta['name']}} {
          background-image: url('/assets/{{asset.filename}}');
          background-size: cover;
          background-position: center center; 
        }
        {% endfor %}
      {% endfor %}

      {% for post in site.pages['resources'].posts limit:1 %}
        {% for asset in post.assets limit:1 %}
        ._{{asset.meta['name']}} {
          background-image: url('/assets/{{asset.filename}}');
          background-size: cover;
          background-position: center center; 
        }
        {% endfor %}
      {% endfor %}

      {% for post in site.pages['in-the-community'].posts limit:1 %}
        {% for asset in post.assets limit:1 %}
        ._{{asset.meta['name']}} {
          background-image: url('/assets/{{asset.filename}}');
          background-size: cover;
          background-position: center center; 
        }
        {% endfor %}
      {% endfor %}
 
  body.S__bg__12
    .truss__09.S__bg__14
      include ../includes/header__02.jade
      div.inner.truss__08.wrapper__06--truss__09
        p.title__01--truss__08.S__sans__19 Serving Northeast Ohio
        #Glide.glide.truss__56.S__cont__12
          .glide__arrows
              button.glide__arrow.prev(data-glide-dir='<') prev
              button.glide__arrow.next(data-glide-dir='>') next
          .glide__wrapper.truss__55.item__01--truss__56.U__center__05
            div.truss__54.item__01--truss__55.U__spread__01
              button.JS__phone.item__01--truss__54
                a(href="tel:{{site.meta['Phone Number']}}").S__cont__10.S__sans__06 Call
              div.truss__61.JS__bubble.U__hidden__01.item__02--truss__54.S__cont__16.S__sans__18 {{site.meta['Phone Number']}}
                span.JS__x.item__01--truss__61.S__sans__20 x
                div.item__03--truss__61.S__cont__17

              button.item__01--truss__54
                a(href="mailto:{{site.meta['Email Address']}}").item__01--truss__54.S__cont__11.S__sans__06 Email
            if cms
              ul.glide__track.
                {% for asset in assets %}
                <li class='truss__53 glide__slide _{{asset.meta['name']}} U__center__04'><section clas='item__01--truss__53'>
                  {% assign meta-name = asset.meta['name'] %}
                  {% capture description %}description_{{meta-name}}{% endcapture %}
                  <h4></h4>
                  <h2 class='S__sans__15'>{{asset.meta[description]}}</h2>
                </section></li>
                {% endfor %}
            if !cms
              ul.glide__track
                li.truss__53.glide__slide.S__carousel__01.U__center__04
                  section.item__01--truss__53
                    h2.S__sans__15 Whole Home Energy Performance
                li.truss__53.glide__slide.S__carousel__02.U__center__04
                  section.item__01--truss__53
                    h2.S__sans__15 Foam, Cellulose, Fiberglass
                li.truss__53.glide__slide.S__carousel__03.U__center__04
                  section.item__01--truss__53
                    h2.S__sans__15 Insulation Air Sealing Weatherization  

          .glide__bullets
        if !cms
          div.truss__52.wrapper__01--truss__08.U__array__02
            a(href="/about/").item__01--truss__52.S__bg__19
              section.truss__57
                h3.item__01--truss__57.S__sans__17.S__cont__13 My test title here
            a(href="/about/").item__01--truss__52.S__bg__20
              section.truss__57
                h3.item__01--truss__57.S__sans__17.S__cont__13 My test title here
            a(href="/about/").item__01--truss__52.S__bg__21
              section.truss__57
                h3.item__01--truss__57.S__sans__17.S__cont__13 My test title here
            a(href="/about/").item__01--truss__52.S__bg__22
              section.truss__57
                h3.item__01--truss__57.S__sans__17.S__cont__13 My test title here

        if cms
          div.truss__52.wrapper__01--truss__08.U__array__02.

            {% for post in site.pages['offers'].posts limit:1 %}
              <a href="{{post.url}}" class="item__01--truss__52 {% for asset in post.assets limit:1 %}_{{asset.meta['name']}}{% endfor %}"><section class="truss__57"><h3 class="item__01--truss__57 S__sans__17 S__cont__13">Latest Offers</h3></section></a>
            {% endfor %}

            {% for post in site.pages['in-the-community'].posts limit:1 %}
              <a href="{{post.url}}" class="item__01--truss__52 {% for asset in post.assets limit:1 %}_{{asset.meta['name']}}{% endfor %}"><section class="truss__57"><h3 class="item__01--truss__57 S__sans__17 S__cont__13">In the Community</h3></section></a>
            {% endfor %}

            {% for post in site.pages['resources'].posts limit:1 %}
              <a href="{{post.url}}" class="item__01--truss__52 {% for asset in post.assets limit:1 %}_{{asset.meta['name']}}{% endfor %}"><section class="truss__57"><h3 class="item__01--truss__57 S__sans__17 S__cont__13">Resources</h3></section></a>
            {% endfor %}

            <a href="https://www.energystar.gov/index.cfm?fuseaction=popuptool.atHome" class="item__01--truss__52 S__bg__22"><section class="truss__57"><h3 class="item__01--truss__57 S__sans__17 S__cont__13">Energy Star Virtual Tour</h3></section></a>

        include ../includes/footer__01.jade 


    include ../includes/scripts__01.jade

  script.
    $(window).load(function() {
      $("#my-menu").mmenu();
      $("#Glide").glide({
        type: "carousel"
      });
      $(".JS__phone, .JS__x").click(function(e) {
        if ($(window).width() > 500){
          e.preventDefault();
          $(".JS__bubble").toggleClass("U__hidden__01");
        }
      });
    });

