doctype html

html(lang='en')
  head
    include ../includes/title__01.jade
    include ../includes/meta__01.jade
    include ../includes/styles__01.jade

  body.S__bg__12
    .truss__09.S__bg__14
      include ../includes/header__02.jade
      div.wrapper__03--truss__09.truss__12.inner.S__bg__14.U__center__02
        div.truss__18.content__01--truss__12.S__bg__14.U__array__03
          section.truss__42.content__02--truss__18
            header.truss__19
              h1.title__01--truss__19.S__lato__02 {{title}}

            if cms
              div.content__01--truss__18.truss__24.cms__02.S__gen__02.
                {{body}} 

            if !cms
              div.content__01--truss__18.truss__24.cms__01.S__gen__02
                img(src='/images/me.jpg').media__01--truss__24.U__res__01
                | Dolor sit amet, consectetuer adipiscing elit. Sed volutpat felis vitae dui. Vestibulum et est ac ligula dapibus elementum. Nunc suscipit nisl eu felis. Duis nec tortor. Nullam diam libero, semper id, consequat in, consectetuer ut, metus. Phasellus dui purus, vehicula sed, venenatis a, rutrum at, nunc. Pellentesque interdum sapien nec neque. Vivamus sagittis, sem sit amet porttitor lobortis, turpis sapien consequat orci, sed commodo nulla pede eget sem. Phasellus sollicitudin. Proin orci erat, blandit ut, molestie sed, fringilla non, odio. Nulla porta, tortor non suscipit gravida, velit enim aliquam quam, nec condimentum orci augue vel magna. Nulla facilisi. Donec ipsum ePraesent blandit elementum sapien. Praesent enim mauris, suscipit a, auctor et, lacinia vitae, nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent lacus diam, auctor quis, venenatis in, hendrerit at, est. Vivamus eget eros. Phasellus congue, sapien ac iaculis feugiat, lacus lacus accumsan lorem, quis volutpat justo turpis ac mauris. Duis velit magna, scelerisque vitae, varius ut, aliquam vel, justo. Proin ac augue. Nullam auctor lectus vitae arcu. Vestibulum porta justo placerat purus. Ut sem nunc, vestibulum nec, sodales vitae, vehicula eget, ipsum. Sed nec tortor. Aenean malesuada. Nunc convallis, massa eu vestibulum commodo, quam.nim.

          div.truss__43.content__03--truss__18.U__array__04
            section.sidebar__01--truss__43.S__cont__08.S__util__01
              h4.U__hidden Energy Star
              a(href="http://www.energystar.gov/index.cfm?fuseaction=popuptool.atHome").U__center__03
                if cms
                  img(src="/assets/images/energy-star.png").U__res__01
                if !cms
                  img(src="/images/energy-star.png").U__res__01
            section.truss__44.sidebar__02--truss__43.U__center__03.S__cont__08
              h4.U__hidden Energy Saving Tips
              if cms
                img(src="/assets/images/energy-saving-tips.png").U__res__01  
              if !cms
                img(src='/images/energy-saving-tips.png').U__res__01  
              ul.list--truss__44
                li.truss__45
                  a(href="/assets/pdfs/attic-insulation.pdf").item__01--truss__45.S__sans__09 Insulate and Air Seal the Attic
                li.truss__45
                  a(href="/assets/pdfs/joist-insulation.pdf").item__01--truss__45.S__sans__09 Air Sealing Basement Rim Joist
                li.truss__45
                  a(href="/assets/pdfs/infared-testing.pdf").item__01--truss__45.S__sans__09 Infared Testing
                li.truss__45
                  a(href="/assets/pdfs/home-insulation.pdf").item__01--truss__45.S__sans__09 Home Insulation
                li.truss__45
                  a(href="/assets/pdfs/heating-and-cooling-tips.pdf").item__01--truss__45.S__sans__09 Home Heating and Cooling
                li.truss__45
                  a(href="/assets/pdfs/home-lighting-tips.pdf").item__01--truss__45.S__sans__09 Home Lighting 

      include ../includes/footer__02.jade 
    include ../includes/scripts__01.jade
    script.
      $(document).ready(function() {
      $("#my-menu").mmenu();
      });
