doctype html
html(lang='en')
  head
    include ../includes/title__01.jade
    include ../includes/meta__01.jade
    include ../includes/styles__01.jade
  body
    .truss__09
      .header__01--truss__09.truss__06.S__shdw__01.S__bg__16.U__array__01
        a(href='#my-menu' class="U__show")
          span test
        section.truss__20.logo__04--truss__06
          .container--truss__20.truss__17
            h2.wrapper--truss__17.truss__03
              a(href='/' class="truss__23 item--truss__03")
                span.title__05--truss__23.S__kozuka__02 taylor
                span.title__06--truss__23.S__kozuka__01 design
                span.title__06--truss__23.S__kozuka__01 studio
     
          //<nav id="nav" class="truss__21">
              <h3 class="U__hidden">Navigation</h3>
              <ul class="S__cont__04 nav--truss__21">
                {% for page in site.pages %}
                  <li><a href="{{page.url}}">{{page.title}}</a></li> 
                {% endfor %}
              </ul>
            </nav>

        if cms
          nav#nav.truss__21
            h3.U__hidden Navigation
            ul.S__cont__04.nav--truss__21.
              {% for page in site.pages %}
                <li><a href="{{page.url}}">{{page.title}}</a></li> 
              {% endfor %}

        if !cms
          nav#nav.truss__21
            h3.U__hidden Navigation
            ul.S__cont__04.nav--truss__21
              li.current(style='white-space: nowrap;')
                a(href='index.html') Home
              li.truss__(style='white-space: nowrap;')
                a(href='project.html') Projects
              li(style='white-space: nowrap;')
                a(href='process.html') Process
              li(style='white-space: nowrap;')
                a(href='contact.html') About
              li(style='white-space: nowrap;')
                a(href='projects.html') Blog
      .wrapper__01--truss__09.truss__12.inner.S__bg__14

        if cms
          nav#my-menu
            h3.U__hidden Side Navigation
            ul.
              {% for page in site.pages %}
              <li><a href="{{page.url}}">{{page.title}}</a></li> 
              {% endfor %}

        if !cms
          nav#my-menu
            h3.U__hidden Side Navigation
            ul
              li
                a(href='/') Home
              li
                a(href='/about/') Projects
              li
                a(href='/process/') Process
              li
                a(href='/process/') About
              li
                a(href='/process/') Blog
        .truss__18.content__01--truss__12.S__bg__14
          header.truss__19.wrapper__01--truss__18
            h1.title__01--truss__19.S__lato__02 About Me
          p.content__01--truss__18.truss__24.S__gen__02
            img(src='../images/me.jpg').media__01--truss__24.U__res__01
            | {{body}} 
         include ../includes/footer__02.jade 
    include ../includes/scripts__01.jade
    script.
      $(document).ready(function() {
      $("#my-menu").mmenu();
      });
