doctype html

html(lang='en')
  head
    include ../includes/title__01.jade
    include ../includes/meta__01.jade
    include ../includes/styles__01.jade
    style.
      {% for asset in assets %}
      ._{{asset.meta['name']}} {
        background-image: url('/assets/{{asset.filename}}');
      }
      {% endfor %}

  body.truss__58.S__bg__23
    .truss__09.wrapper__01--truss__58.S__bg__23
      include ../includes/header__02.jade
      article.truss__59.wrapper__08--truss__09
        if cms 
          h1.title__01--truss__59.S__sans__15 {{title}}
        if !cms 
          h1.title__01--truss__59.S__sans__15 Example Project Here
        #Glide.glide
          .glide__arrows
            button.glide__arrow.prev(data-glide-dir='<') prev
            button.glide__arrow.next(data-glide-dir='>') next
          .glide__wrapper
            if cms
              ul.glide__track.
                {% for asset in assets %}
                <li class="glide__slide _{{asset.meta['name']}}"></li>
                {% endfor %}

            if !cms
              ul.glide__track
                li.glide__slide.S__carousel__02
                li.glide__slide.S__carousel__02
          .glide__bullets 
        .wrapper__01--truss__59.truss__12.inner.S__bg__14.U__center__02.S__cont__15
          div.truss__18.content__01--truss__12.S__bg__14.U__array__03
            .truss__42.content__04--truss__18
              section.truss__19
                h2.title__01--truss__19.S__lato__04 Project Description

              if cms
                div.content__01--truss__18.truss__24.cms__01.S__gen__02 
                  {{body}} 
                img(src='/assets/images/logo.svg').item__01--truss__18.U__res__01.U__center__02

              if !cms
                .truss__62.content__01--truss__18.truss__24.cms__01.S__gen__02 Dolor sit amet, consectetuer adipiscing elit. Sed volutpat felis vitae dui. Vestibulum et est ac ligula dapibus elementum. Nunc suscipit nisl eu felis. Duis nec tortor. Nullam diam libero, semper id, consequat in, consectetuer ut, metus. Phasellus dui purus, vehicula sed, venenatis a, rutrum at, nunc. Pellentesque interdum sapien nec neque. Vivamus sagittis, sem sit amet porttitor lobortis, turpis sapien consequat orci, sed commodo nulla pede eget sem. Phasellus sollicitudin. Proin orci erat, blandit ut, molestie sed, fringilla non, odio. Nulla porta, tortor non suscipit gravida, velit enim aliquam quam, nec condimentum orci augue vel magna. Nulla facilisi. Donec ipsum ePraesent blandit elementum sapien. Praesent enim mauris, suscipit a, auctor et, lacinia vitae, nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent lacus diam, auctor quis, venenatis in, hendrerit at, est. Vivamus eget eros. Phasellus congue, sapien ac iaculis feugiat, lacus lacus accumsan lorem, quis volutpat justo turpis ac mauris. Duis velit magna, scelerisque vitae, varius ut, aliquam vel, justo. Proin ac augue. Nullam auctor lectus vitae arcu. Vestibulum porta justo placerat purus. Ut sem nunc, vestibulum nec, sodales vitae, vehicula eget, ipsum. Sed nec tortor. Aenean malesuada. Nunc convallis, massa eu vestibulum commodo, quam.nim.
                img(src='/images/logo.svg').item__01--truss__18.U__res__01.U__center__02
        include ../includes/footer__02.jade 
    include ../includes/scripts__01.jade
    script.
      $(document).ready(function() {
        $("#my-menu").mmenu();
        $("#Glide").glide({
          type: "carousel"
        });
      });
