doctype html
html(lang='en')
  head
    include ../includes/title__01.jade
    include ../includes/meta__01.jade
    include ../includes/styles__01.jade

  body
    .truss__09
      include ../includes/header__02.jade
      div.wrapper__10--truss__09.truss__12.inner.S__bg__05
        if cms
          .truss__18.content__04--truss__12.JS__masonry.U__center__02.S__bg__05.
            {% for post in posts %}
              {% for asset in post.assets limit:1 %}
              <a href="{{post.url}}" class="truss__60"><figure class="item__01--truss__60 grid-sizer item truss__24"><img class="U__res__01 img--truss__24" src="/assets/{{asset.filename}}" /><figcaption class="content__01--truss__24 S__cont__13 S__sans__17">{{post.title}}</figcaption></figure></a>
              {% endfor %}
            {% endfor %}
        if !cms
          .truss__18.content__03--truss__12.JS__masonry.U__center__02.S__bg__05
            - var n = 5 
            - var o = 10 
            while n < 9 
              a(href="/project/").truss__60
                figure.item__01--truss__60.grid-sizer.item.truss__24
                  img.U__res__01.img--truss__24(src='../images/projects/000' + n++ + '.jpg')
                  figcaption.content__01--truss__24.S__cont__13.S__sans__17 Test content goes here
            while o < 32 
              a(href="/project/").truss__60
                figure.item__01--truss__60.grid-sizer.item.truss__24
                  img.U__res__01.img--truss__24(src='../images/projects/00' + o++ + '.jpg')
                  figcaption.content__01--truss__24.S__cont__13.S__sans__17 Test content goes here

      include ../includes/footer__02.jade 
    include ../includes/scripts__01.jade
    script.
      $(window).load(function(){
        var container = document.querySelector('.JS__masonry');
        var msnry = new Masonry(
        container, {
          itemSelector: '.item',
          columnWidth: container.querySelector('.grid-sizer')
        });
        $("#my-menu").mmenu();
      });
