doctype html

html(lang='en')
  head
    include ../includes/title__01.jade
    include ../includes/meta__01.jade
    include ../includes/styles__01.jade
  body.S__bg__12
    .truss__09.S__bg__14
      include ../includes/header__02.jade
      div.wrapper__03--truss__09.truss__12.inner.S__bg__14.U__center__02
        div.truss__18.content__01--truss__12.S__bg__14.U__array__03
          section.truss__42.content__04--truss__18
            header.truss__19
              h1.title__01--truss__19.S__lato__02 {{title}}

            if cms
              div.content__01--truss__18.truss__24.cms__01.S__gen__02.
                {{body}} 

            if !cms
              div.content__01--truss__18.truss__24.cms__01.S__gen__02
                img(src='/images/me.jpg').media__01--truss__24.U__res__01
                | Dolor sit amet, consectetuer adipiscing elit. Seddddd volutpat felis vitae dui. Vestibulum et est ac ligula dapibus elementum. Nunc suscipit nisl eu felis. Duis nec tortor. Nullam diam libero, semper id, consequat in, consectetuer ut, metus. Phasellus dui purus, vehicula sed, venenatis a, rutrum at, nunc. Pellentesque interdum sapien nec neque. Vivamus sagittis, sem sit amet porttitor lobortis, turpis sapien consequat orci, sed commodo nulla pede eget sem. Phasellus sollicitudin. Proin orci erat, blandit ut, molestie sed, fringilla non, odio. Nulla porta, tortor non suscipit gravida, velit enim aliquam quam, nec condimentum orci augue vel magna. Nulla facilisi. Donec ipsum ePraesent blandit elementum sapien. Praesent enim mauris, suscipit a, auctor et, lacinia vitae, nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent lacus diam, auctor quis, venenatis in, hendrerit at, est. Vivamus eget eros. Phasellus congue, sapien ac iaculis feugiat, lacus lacus accumsan lorem, quis volutpat justo turpis ac mauris. Duis velit magna, scelerisque vitae, varius ut, aliquam vel, justo. Proin ac augue. Nullam auctor lectus vitae arcu. Vestibulum porta justo placerat purus. Ut sem nunc, vestibulum nec, sodales vitae, vehicula eget, ipsum. Sed nec tortor. Aenean malesuada. Nunc convallis, massa eu vestibulum commodo, quam.nim.


      include ../includes/footer__02.jade 
    include ../includes/scripts__01.jade
    script.
      $(document).ready(function() {
        $("#my-menu").mmenu();
      });
