<!DOCTYPE html><html lang="en"><head><title>{{site.title}} | {{title}}</title><meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="Keywords" content="{{site.meta['keywords']}}"><meta name="Description" content="{{site.meta['description']}}"><script>if (/*@cc_on!@*/false) {
  document.write(' <link rel="stylesheet" href="/assets/css/gt-ie8.min.css" />');  
}
</script><!--[if (!IE) & (!IEMobile)]><!-->
<link rel="stylesheet" href="/assets/css/style.min.css" media="all and (min-width:1px)">
<!--<![endif]-->  </head><body class="S__bg__12"><div class="truss__09 S__bg__14"><header class="header__01--truss__09 truss__06 S__bg__16 S__cont__06"><nav id="my-menu"><h3 class="U__hidden">Side Navigation</h3><ul>{% for page in site.pages %}
  {% if page.url != "/in-the-communiy"%}
  {% if page.url != "/offers"%}
  {% if page.url == "/"%}
  <li><a href="{{page.url}}" class="S__sans__12">Home</a>{% if page.posts.size > 0 %}<ul>{% for post in page.posts %}<li><a href="{{post.url}}" class="S__sans__12">{{post.title}}</a></li>{% endfor %}</ul>{% endif %}</li>
  {% else %}
  <li><a href="{{page.url}}" class="S__sans__12">{{page.url | remove:'/' }}</a>{% if page.posts.size > 0 %}<ul>{% for post in page.posts %}<li><a href="{{post.url}}" class="S__sans__12">{{post.title}}</a></li>{% endfor %}</ul>{% endif %}</li>
  {% endif %}
  {% endif %}
  {% endif %}
{% endfor %}

</ul></nav><div class="truss__41 wrapper__01--truss__06 U__array__01"><a href="#my-menu" class="U__show"><span></span></a><section class="truss__20 logo__04--truss__41"><div class="container--truss__20 truss__17"><h2 class="wrapper--truss__17 truss"><a href="/" class="truss__23 item--truss__03"><img src="/assets/images/logo.svg" class="img--truss__23"></a></h2></div></section><nav id="nav" class="nav__01--truss__20"><h3 class="U__hidden">Navigation</h3><ul class="S__cont__04 nav--truss__21">{% for page in site.pages %}
  {% if page.url != "/" %}
    {% if page.url != "/offers" %}
      {% if page.url != "/in-the-community" %}
      <li><a href="{{page.url}}" class="S__sans__02 S__underline__02">{{page.url | remove:'/'}}</a></li> 
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}</ul></nav></div></header><div class="wrapper__03--truss__09 truss__12 inner S__bg__14 U__center__02"><div class="truss__18 content__01--truss__12 S__bg__14 U__array__03"><section class="truss__42 content__04--truss__18"><header class="truss__19"><h1 class="title__01--truss__19 S__lato__02">{{title}}</h1></header><div class="content__01--truss__18 truss__24 cms__01 S__gen__02">{{body}} 
</div></section></div></div><footer class="truss__15 footer__01--truss__09 S__bg__12 S__cont__15"><div class="truss__16 contact--truss__15 U__array__01"><h4 class="heading--truss__16 S__sans__07">email:</h4><a href="mailto:{{site.meta['Email Address']}}" class="email__01--truss__16 S__sans__07">{{site.meta['Email Address']}}</a></div><div class="social--truss__15 U__array__01 truss__14"><a href="tel:{{site.meta['Phone Number']}}" class="phone__01--truss__14"></a><a href="mailto:{{site.meta['Email Address']}}" class="email__01--truss__14"></a><a href="{{site.meta['Instagram Link']}}" class="instagram__01--truss__14"></a><a href="{{site.meta['Facebook Link']}}" class="fb__01--truss__14"></a></div></footer></div><script src="//code.jquery.com/jquery-1.11.0.min.js"></script><script>window.jQuery || document.write('<script src="/assets/js/jquery.min.js">\x3C/script>')</script><script src="/assets/js/main.min.js" type="text/javascript"></script><script>$(document).ready(function() {
  $("#my-menu").mmenu();
});</script></body></html>