body {
    margin: 0px;
    font-family: Helvetica, Arial;
    font-size: 10pt;
    /*background-image: url('marb009.jpg');*/
    text-align: center;
}


#container 
{
	width: 800px;
	position: relative;
	margin-left: auto;
	margin-right: auto;	
	background-color: White;
	border: 1px solid #24408f;
        text-align: left;
}

#menu
{
	position: absolute;
	left: 305;
	top: 187;
	font-size: 9pt;
	font-weight: bold;
	text-transform: uppercase;
}

#leftSection
{
	float: left;
	width: 410px;
	margin: 10px;
        margin-left: 50px;
	z-index: 2;
	position: relative;
}

#rightSection
{
	margin: 10px;
	z-index: 2;
	position: relative;
}

.biggieRedFontCaps
{
	font-size: 16pt;
	font-weight: bold;
	color: #d2232a;
	text-transform: uppercase;
}
.biggieRedFont
{
	font-size: 16pt;
	font-weight: bold;
	color: #d2232a;
	text-align: center;
}
.kindaBiggieRedFont
{
	font-size: 11pt;
	font-weight: bold;
	color: #d2232a;
}

.kindaBiggieBlueFont
{
	font-size: 12pt;
	font-weight: bold;
	color: #24408f;
}
#kindaBiggieBlueFontTitle
{
	position: absolute;
	left: 184;
	top: 130;
	text-align: right;
	font-size: 12pt;
	font-weight: bold;
	color: #24408f;
}
.kindaBiggieBlackFont
{
	font-size: 12pt;
	font-weight: bold;
	color: Black;
    text-transform: uppercase;
}

#biggieLightBlueFont
{
	position: absolute;
	left: 94;
	top: 130;
	text-align: right;
	font-size: 15pt;
	font-weight: bold;
	color: #00aeef;
	text-transform: uppercase;
}
#biggieLightBlueFontPage
{
	font-size: 15pt;
	font-weight: bold;
	color: #00aeef;
	text-transform: uppercase;
}
.kindaBiggieLightBlueFont
{
	font-size: 13pt;
	font-weight: bold;
	color: #00aeef;
	text-transform: uppercase;
}
.lessBiggieLightBlueFont
{
	font-size: 11pt;
	font-weight: bold;
	color: #00aeef;
	text-transform: uppercase;
}
.boldItalics
{
	font-weight: bold;
	color: #24408f;
	font-style: italic;
}
.blueText
{
	color: #24408f;
}
.blueBoldCentered
{
	font-size: 9pt;
	font-weight: bold;
	color: #24408f;
	text-align: center;
}

#footer
{
	font-size: 8pt;
	font-weight: bold;
	clear: both;
	/*background: #001d40;*/
	text-align: center;
	padding-top: 40px;
	padding-bottom: 15px;
}
#telemarketer
{
	position: absolute;
	left: 480;
	top: 375;
	z-index: 1;
}
.smallBold
{
	font-size: 10pt;
	font-weight: bold;
	color: Black;
}
.notAsSmallBold
{
	font-size: 11pt;
	font-weight: bold;
	color: Black;
}
#leftRollout
{
	width: 230px;
	border: 1px solid #001d40;
	float: left;
	margin: 10px;
}
#centerRollout
{
	width: 230px;
	border: 1px solid #001d40;
	float: left;
	margin: 10px;
}
#rightRollout
{
	width: 230px;
	border: 1px solid #001d40;
	float: left;
	margin: 10px;
}
.push
{
	clear: both;
}
.goldOnBlue
{
	padding: 5px;
	background: #001d40;
	color: #ffcf29;
	font-size: 12pt;
	font-weight: bold;
	height: 36px;
	vertical-align: middle;
}

.biggieBlackCaps
{
	font-size: 16pt;
	font-weight: bold;
	color: Black;
    text-transform: uppercase;
    text-align: right;
}
.biggieGreenCaps
{
	font-size: 16pt;
	font-weight: bold;
	color: #41ad49;
    text-transform: uppercase;
    text-align: right;
}
.kindaBiggieGreen
{
	font-size: 14pt;
	font-weight: bold;
	color: #41ad49;
    text-align: right;
}

.rolloutCollapsed
{
	padding: 7px;
}

.title
{
}

.collapsed
{
    padding: 5px;
}

.error
{
	font-size: 12pt;
	font-weight: bold;
	color: #d2232a;
}
#rollouts
{
        margin-left: 25px;
}
#esTips
{
        position: absolute;
        left: 510px;
        top: 755px;
        z-index: 5;
        font-size: 10pt;
	font-weight: bold;
	color: #00aeef;
	text-transform: uppercase;
}
#esTips a
{
    color: #00aeef;
        text-decoration: none;
}
#esTips a:visited
{
    color: #00aeef;
        text-decoration: none;
}