<!DOCTYPE html><html lang="en"><head><title>{{site.title}} | {{title}}</title><meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="Keywords" content="{{site.meta['keywords']}}"><meta name="Description" content="{{site.meta['description']}}"><script>if (/*@cc_on!@*/false) {
  document.write(' <link rel="stylesheet" href="/assets/css/gt-ie8.min.css" />');  
}
</script><!--[if (!IE) & (!IEMobile)]><!-->
<link rel="stylesheet" href="/assets/css/style.min.css" media="all and (min-width:1px)">
<!--<![endif]-->  </head><body class="truss__49"><div class="truss__09 wrapper__01--truss__49 S__bg__14"><header class="header__01--truss__09 truss__06 S__bg__16 S__cont__06"><nav id="my-menu"><h3 class="U__hidden">Side Navigation</h3><ul>{% for page in site.pages %}
  {% if page.url != "/in-the-communiy"%}
  {% if page.url != "/offers"%}
  {% if page.url == "/"%}
  <li><a href="{{page.url}}" class="S__sans__12">Home</a>{% if page.posts.size > 0 %}<ul>{% for post in page.posts %}<li><a href="{{post.url}}" class="S__sans__12">{{post.title}}</a></li>{% endfor %}</ul>{% endif %}</li>
  {% else %}
  <li><a href="{{page.url}}" class="S__sans__12">{{page.url | remove:'/' }}</a>{% if page.posts.size > 0 %}<ul>{% for post in page.posts %}<li><a href="{{post.url}}" class="S__sans__12">{{post.title}}</a></li>{% endfor %}</ul>{% endif %}</li>
  {% endif %}
  {% endif %}
  {% endif %}
{% endfor %}

</ul></nav><div class="truss__41 wrapper__01--truss__06 U__array__01"><a href="#my-menu" class="U__show"><span></span></a><section class="truss__20 logo__04--truss__41"><div class="container--truss__20 truss__17"><h2 class="wrapper--truss__17 truss"><a href="/" class="truss__23 item--truss__03"><img src="/assets/images/logo.svg" class="img--truss__23"></a></h2></div></section><nav id="nav" class="nav__01--truss__20"><h3 class="U__hidden">Navigation</h3><ul class="S__cont__04 nav--truss__21">{% for page in site.pages %}
  {% if page.url != "/" %}
    {% if page.url != "/offers" %}
      {% if page.url != "/in-the-community" %}
      <li><a href="{{page.url}}" class="S__sans__02 S__underline__02">{{page.url | remove:'/'}}</a></li> 
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}</ul></nav></div></header><div class="truss__48 wrapper__05--truss__09 U__array__02 U__center__02"><aside class="truss__47 sidebar__01--truss__48"><h3 class="title__01--truss__47 S__sans__11">Archive</h3><ul class="truss__50 item__01--truss__47 S__util__01">{% for post in posts %}
<li class='item__01--truss__50'><a href='{{post.url}}' class='S__sans__10'>{{post.title}}</a></li>
{% endfor %}
{% for post in parent.posts %}
<li class='item__01--truss__50'><a href='{{post.url}}' class='S__sans__10'>{{post.title}}</a></li>
{% endfor %}</ul></aside><div class="truss__12 wrapper__04--truss__48 inner"><div class="truss__46 content__01--truss__12">{% for post in posts %}
<article class="truss__42 content__02--truss__46"><header class="truss__19"><h2 class="title__01--truss__19"><a href="{{post.url}}" class="S__lato__04">{{post.title}}</a></h2></header>{% if post.parent.title == 'Articles'%}<p class='truss__51 title__01--truss__42'><span class="S__sans__14">By: </span><span class="S__sans__14">{{author.fullname}}</span></p>{% endif %}<div class="content__01--truss__18 truss__24 cms__01 S__gen__02">{{post.body}}</div></article>
{% endfor %}
{% if url != "/articles" %}
{% if url != "/in-the-community" %}
{% if url != "/offers" %}
<article class="truss__42 content__02--truss__46"></h1><header class="truss__19"><h2 class="title__01--truss__19"><a href="{{post.url}}" class="S__lato__04">{{title}}</a></h2></header>{% if parent.title == 'Resources'%}<p class='truss__51 title__01--truss__42'><span class="S__sans__14">By: </span><span class="S__sans__14">{{author.fullname}}</span></p>{% endif %}<div class="content__01--truss__18 truss__24 cms__01 S__gen__02">{{body}}</div></article>
{% endif %}
{% endif %}
{% endif %}</div></div></div><footer class="truss__15 footer__01--truss__09 S__bg__12 S__cont__15"><div class="truss__16 contact--truss__15 U__array__01"><h4 class="heading--truss__16 S__sans__07">email:</h4><a href="mailto:{{site.meta['Email Address']}}" class="email__01--truss__16 S__sans__07">{{site.meta['Email Address']}}</a></div><div class="social--truss__15 U__array__01 truss__14"><a href="tel:{{site.meta['Phone Number']}}" class="phone__01--truss__14"></a><a href="mailto:{{site.meta['Email Address']}}" class="email__01--truss__14"></a><a href="{{site.meta['Instagram Link']}}" class="instagram__01--truss__14"></a><a href="{{site.meta['Facebook Link']}}" class="fb__01--truss__14"></a></div></footer><script src="//code.jquery.com/jquery-1.11.0.min.js"></script><script>window.jQuery || document.write('<script src="/assets/js/jquery.min.js">\x3C/script>')</script><script src="/assets/js/main.min.js" type="text/javascript"></script><script>$(document).ready(function() {
  $("#my-menu").mmenu();
});
</script></div></body></html>