<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="Keywords" content="{{site.meta['keywords']}}"><meta name="Description" content="{{site.meta['description']}}"><title>{{site.title}} | {{title}}</title><script>if (/*@cc_on!@*/false) {
  document.write(' <link rel="stylesheet" href="/assets/css/gt-ie8.min.css" />');  
}
</script><!--[if (!IE) & (!IEMobile)]><!-->
<link rel="stylesheet" href="/assets/css/style.min.css" media="all and (min-width:1px)">
<!--<![endif]-->  </head><style>{% for asset in assets %}
._{{asset.meta['name']}} {
  background-image: url('/assets/{{asset.filename}}');
}
{% endfor %}

{% for post in site.pages['offers'].posts limit:1 %}
  {% for asset in post.assets limit:1 %}
  ._{{asset.meta['name']}} {
    background-image: url('/assets/{{asset.filename}}');
    background-size: cover;
    background-position: center center; 
  }
  {% endfor %}
{% endfor %}

{% for post in site.pages['resources'].posts limit:1 %}
  {% for asset in post.assets limit:1 %}
  ._{{asset.meta['name']}} {
    background-image: url('/assets/{{asset.filename}}');
    background-size: cover;
    background-position: center center; 
  }
  {% endfor %}
{% endfor %}

{% for post in site.pages['in-the-community'].posts limit:1 %}
  {% for asset in post.assets limit:1 %}
  ._{{asset.meta['name']}} {
    background-image: url('/assets/{{asset.filename}}');
    background-size: cover;
    background-position: center center; 
  }
  {% endfor %}
{% endfor %}
</style><body class="S__bg__12"><div class="truss__09 S__bg__14"><header class="header__01--truss__09 truss__06 S__bg__16 S__cont__06"><nav id="my-menu"><h3 class="U__hidden">Side Navigation</h3><ul>{% for page in site.pages %}
  {% if page.url != "/in-the-communiy"%}
  {% if page.url != "/offers"%}
  {% if page.url == "/"%}
  <li><a href="{{page.url}}" class="S__sans__12">Home</a>{% if page.posts.size > 0 %}<ul>{% for post in page.posts %}<li><a href="{{post.url}}" class="S__sans__12">{{post.title}}</a></li>{% endfor %}</ul>{% endif %}</li>
  {% else %}
  <li><a href="{{page.url}}" class="S__sans__12">{{page.url | remove:'/' }}</a>{% if page.posts.size > 0 %}<ul>{% for post in page.posts %}<li><a href="{{post.url}}" class="S__sans__12">{{post.title}}</a></li>{% endfor %}</ul>{% endif %}</li>
  {% endif %}
  {% endif %}
  {% endif %}
{% endfor %}

</ul></nav><div class="truss__41 wrapper__01--truss__06 U__array__01"><a href="#my-menu" class="U__show"><span></span></a><section class="truss__20 logo__04--truss__41"><div class="container--truss__20 truss__17"><h2 class="wrapper--truss__17 truss"><a href="/" class="truss__23 item--truss__03"><img src="/assets/images/logo.svg" class="img--truss__23"></a></h2></div></section><nav id="nav" class="nav__01--truss__20"><h3 class="U__hidden">Navigation</h3><ul class="S__cont__04 nav--truss__21">{% for page in site.pages %}
  {% if page.url != "/" %}
    {% if page.url != "/offers" %}
      {% if page.url != "/in-the-community" %}
      <li><a href="{{page.url}}" class="S__sans__02 S__underline__02">{{page.url | remove:'/'}}</a></li> 
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}</ul></nav></div></header><div class="inner truss__08 wrapper__06--truss__09"><p class="title__01--truss__08 S__sans__19">Serving Northeast Ohio</p><div id="Glide" class="glide truss__56 S__cont__12"><div class="glide__arrows"><button data-glide-dir="&lt;" class="glide__arrow prev">prev</button><button data-glide-dir="&gt;" class="glide__arrow next">next</button></div><div class="glide__wrapper truss__55 item__01--truss__56 U__center__05"><div class="truss__54 item__01--truss__55 U__spread__01"><button class="JS__phone item__01--truss__54"><a href="tel:{{site.meta['Phone Number']}}" class="S__cont__10 S__sans__06">Call</a></button><div class="truss__61 JS__bubble U__hidden__01 item__02--truss__54 S__cont__16 S__sans__18">{{site.meta['Phone Number']}}<span class="JS__x item__01--truss__61 S__sans__20">x</span><div class="item__03--truss__61 S__cont__17"></div></div><button class="item__01--truss__54"><a href="mailto:{{site.meta['Email Address']}}" class="item__01--truss__54 S__cont__11 S__sans__06">Email</a></button></div><ul class="glide__track">{% for asset in assets %}
<li class='truss__53 glide__slide _{{asset.meta['name']}} U__center__04'><section clas='item__01--truss__53'>
  {% assign meta-name = asset.meta['name'] %}
  {% capture description %}description_{{meta-name}}{% endcapture %}
  <h4></h4>
  <h2 class='S__sans__15'>{{asset.meta[description]}}</h2>
</section></li>
{% endfor %}</ul></div><div class="glide__bullets"></div></div><div class="truss__52 wrapper__01--truss__08 U__array__02">{% for post in site.pages['offers'].posts limit:1 %}
  <a href="{{post.url}}" class="item__01--truss__52 {% for asset in post.assets limit:1 %}_{{asset.meta['name']}}{% endfor %}"><section class="truss__57"><h3 class="item__01--truss__57 S__sans__17 S__cont__13">Latest Offers</h3></section></a>
{% endfor %}

{% for post in site.pages['in-the-community'].posts limit:1 %}
  <a href="{{post.url}}" class="item__01--truss__52 {% for asset in post.assets limit:1 %}_{{asset.meta['name']}}{% endfor %}"><section class="truss__57"><h3 class="item__01--truss__57 S__sans__17 S__cont__13">In the Community</h3></section></a>
{% endfor %}

{% for post in site.pages['resources'].posts limit:1 %}
  <a href="{{post.url}}" class="item__01--truss__52 {% for asset in post.assets limit:1 %}_{{asset.meta['name']}}{% endfor %}"><section class="truss__57"><h3 class="item__01--truss__57 S__sans__17 S__cont__13">Resources</h3></section></a>
{% endfor %}

<a href="https://www.energystar.gov/index.cfm?fuseaction=popuptool.atHome" class="item__01--truss__52 S__bg__22"><section class="truss__57"><h3 class="item__01--truss__57 S__sans__17 S__cont__13">Energy Star Virtual Tour</h3></section></a>
</div><footer class="truss__15 footer__01--truss__09 S__bg__16 S__cont__14"><div class="truss__16 contact--truss__15 U__array__01"><h4 class="heading--truss__16 S__sans__18">email:</h4><a href="mailto:{{site.meta['Email Address']}}" class="email__01--truss__16 S__sans__18">{{site.meta['Email Address']}}</a></div><div class="social--truss__15 U__array__01 truss__14"><a href="tel:{{site.meta['Phone Number']}}" class="phone__01--truss__14"></a><a href="mailto:{{site.meta['Email Address']}}" class="email__01--truss__14"></a><a href="{{site.meta['Instagram Link']}}" class="instagram__01--truss__14"></a><a href="{{site.meta['Facebook Link']}}" class="fb__01--truss__14"></a></div></footer></div></div><script src="//code.jquery.com/jquery-1.11.0.min.js"></script><script>window.jQuery || document.write('<script src="/assets/js/jquery.min.js">\x3C/script>')</script><script src="/assets/js/main.min.js" type="text/javascript"></script></body><script>$(window).load(function() {
  $("#my-menu").mmenu();
  $("#Glide").glide({
    type: "carousel"
  });
  $(".JS__phone, .JS__x").click(function(e) {
    if ($(window).width() > 500){
      e.preventDefault();
      $(".JS__bubble").toggleClass("U__hidden__01");
    }
  });
});
</script></html>