@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?179lp6');
	src:url('fonts/icomoon.eot?#iefix179lp6') format('embedded-opentype'),
		url('fonts/icomoon.woff?179lp6') format('woff'),
		url('fonts/icomoon.ttf?179lp6') format('truetype'),
		url('fonts/icomoon.svg?179lp6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Japan111418:before {
	content: "\61";
}
.icon-Japan111419:before {
	content: "\62";
}
.icon-Japan111420:before {
	content: "\63";
}
.icon-Japan111421:before {
	content: "\64";
}
.icon-Japan111422:before {
	content: "\65";
}
.icon-Japan111423:before {
	content: "\66";
}
.icon-Japan111424:before {
	content: "\67";
}
.icon-Japan111425:before {
	content: "\68";
}
.icon-Japan111426:before {
	content: "\69";
}
.icon-Japan111427:before {
	content: "\6a";
}
.icon-Japan111428:before {
	content: "\6b";
}
.icon-Japan111429:before {
	content: "\6c";
}
.icon-Japan111430:before {
	content: "\6d";
}
.icon-Japan111431:before {
	content: "\6e";
}
.icon-Japan111432:before {
	content: "\6f";
}
.icon-Japan111433:before {
	content: "\70";
}
.icon-Japan111434:before {
	content: "\e610";
}
.icon-Japan111435:before {
	content: "\e611";
}
.icon-Japan111436:before {
	content: "\71";
}
.icon-Japan111437:before {
	content: "\72";
}
.icon-Japan111438:before {
	content: "\75";
}
.icon-Japan111439:before {
	content: "\76";
}
.icon-Japan111440:before {
	content: "\77";
}
.icon-Japan111441:before {
	content: "\78";
}
.icon-Japan111442:before {
	content: "\79";
}
.icon-Japan111443:before {
	content: "\7a";
}
.icon-Japan111444:before {
	content: "\41";
}
.icon-Japan111445:before {
	content: "\42";
}
.icon-Japan111446:before {
	content: "\43";
}
.icon-Japan111447:before {
	content: "\44";
}
.icon-Japan111448:before {
	content: "\45";
}
.icon-Japan111449:before {
	content: "\46";
}
.icon-Japan111450:before {
	content: "\47";
}
.icon-Japan111451:before {
	content: "\48";
}
.icon-Japan111452:before {
	content: "\49";
}
.icon-Japan111453:before {
	content: "\4a";
}
.icon-Japan111454:before {
	content: "\4b";
}
.icon-Japan111455:before {
	content: "\4c";
}
.icon-Japan111456:before {
	content: "\4d";
}
.icon-Japan111457:before {
	content: "\4e";
}
.icon-Japan111458:before {
	content: "\4f";
}
.icon-Japan111459:before {
	content: "\50";
}
.icon-Japan111460:before {
	content: "\51";
}
.icon-Japan111461:before {
	content: "\52";
}
.icon-Japan111462:before {
	content: "\53";
}
.icon-Japan111463:before {
	content: "\54";
}
.icon-Japan111464:before {
	content: "\55";
}
.icon-Japan111465:before {
	content: "\56";
}
.icon-Japan111466:before {
	content: "\57";
}
.icon-Japan111467:before {
	content: "\58";
}
.icon-Japan111468:before {
	content: "\59";
}
.icon-Japan111469:before {
	content: "\5a";
}
