/*
	jQuery.mmenu CSS
*/
/*
	jQuery.mmenu panels CSS
*/
.mm-menu.mm-horizontal > .mm-panel {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease; }

.mm-menu .mm-hidden {
  display: none; }

.mm-wrapper {
  overflow-x: hidden;
  position: relative; }

.mm-menu,
.mm-menu > .mm-panel {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0; }

.mm-menu {
  background: inherit;
  display: block;
  overflow: hidden;
  padding: 0; }
  .mm-menu > .mm-panel {
    background: inherit;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 20px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
    .mm-menu > .mm-panel.mm-opened {
      -webkit-transform: translateX(0%);
      transform: translateX(0%); }
    .mm-menu > .mm-panel.mm-subopened {
      -webkit-transform: translateX(-30%);
      transform: translateX(-30%); }
    .mm-menu > .mm-panel.mm-highest {
      z-index: 1; }
  .mm-menu .mm-list {
    padding: 20px 0; }
  .mm-menu > .mm-list {
    padding-bottom: 0; }
    .mm-menu > .mm-list:after {
      content: '';
      display: block;
      height: 40px; }

.mm-panel > .mm-list {
  margin-left: -20px;
  margin-right: -20px; }
  .mm-panel > .mm-list:first-child {
    padding-top: 0; }

.mm-list,
.mm-list > li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0; }

.mm-list {
  font: inherit;
  font-size: 14px; }
  .mm-list a,
  .mm-list a:hover {
    text-decoration: none; }
  .mm-list > li {
    position: relative; }
    .mm-list > li > a,
    .mm-list > li > span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: inherit;
      line-height: 20px;
      display: block;
      padding: 10px 10px 10px 20px;
      margin: 0; }
  .mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
    content: '';
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
  .mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
    width: auto;
    margin-left: 20px;
    position: relative;
    left: auto; }
  .mm-list a.mm-subopen {
    background: rgba(3, 2, 1, 0);
    width: 40px;
    height: 100%;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2; }
    .mm-list a.mm-subopen:before {
      content: '';
      border-left-width: 1px;
      border-left-style: solid;
      display: block;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; }
    .mm-list a.mm-subopen.mm-fullsubopen {
      width: 100%; }
      .mm-list a.mm-subopen.mm-fullsubopen:before {
        border-left: none; }
    .mm-list a.mm-subopen + a,
    .mm-list a.mm-subopen + span {
      padding-right: 5px;
      margin-right: 40px; }
  .mm-list > li.mm-selected > a.mm-subopen {
    background: transparent; }
  .mm-list > li.mm-selected > a.mm-fullsubopen + a,
  .mm-list > li.mm-selected > a.mm-fullsubopen + span {
    padding-right: 45px;
    margin-right: 0; }
  .mm-list a.mm-subclose {
    text-indent: 20px;
    padding-top: 30px;
    margin-top: -20px; }
  .mm-list > li.mm-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
    text-transform: uppercase;
    text-indent: 20px;
    line-height: 25px;
    padding-right: 5px; }
  .mm-list > li.mm-spacer {
    padding-top: 40px; }
    .mm-list > li.mm-spacer.mm-label {
      padding-top: 25px; }
  .mm-list a.mm-subopen:after,
  .mm-list a.mm-subclose:before {
    content: '';
    border: 2px solid transparent;
    display: inline-block;
    width: 7px;
    height: 7px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-bottom: -5px;
    position: absolute;
    bottom: 50%; }
  .mm-list a.mm-subopen:after {
    border-top: none;
    border-left: none;
    right: 18px; }
  .mm-list a.mm-subclose:before {
    border-right: none;
    border-bottom: none;
    margin-bottom: -15px;
    left: 22px; }

.mm-menu.mm-vertical .mm-list .mm-panel {
  display: none;
  padding: 10px 0 10px 10px; }
  .mm-menu.mm-vertical .mm-list .mm-panel li:last-child:after {
    border-color: transparent; }
.mm-menu.mm-vertical .mm-list li.mm-opened > .mm-panel {
  display: block; }
.mm-menu.mm-vertical .mm-list > li > a.mm-subopen {
  height: 40px; }
  .mm-menu.mm-vertical .mm-list > li > a.mm-subopen:after {
    top: 16px;
    right: 16px;
    bottom: auto; }
.mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
.mm-menu.mm-vertical .mm-list > li.mm-label > a.mm-subopen {
  height: 25px; }

html.mm-opened .mm-page {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }

.mm-menu {
  background: #333333;
  color: rgba(255, 255, 255, 0.6); }
  .mm-menu .mm-list > li:after {
    border-color: rgba(0, 0, 0, 0.15); }
  .mm-menu .mm-list > li > a.mm-subclose {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.3); }
  .mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before {
    border-color: rgba(255, 255, 255, 0.3); }
  .mm-menu .mm-list > li > a.mm-subopen:before {
    border-color: rgba(0, 0, 0, 0.15); }
  .mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen),
  .mm-menu .mm-list > li.mm-selected > span {
    background: rgba(0, 0, 0, 0.1); }
  .mm-menu .mm-list > li.mm-label {
    background: rgba(255, 255, 255, 0.05); }
  .mm-menu.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
  .mm-menu.mm-vertical .mm-list li.mm-opened > ul {
    background: rgba(255, 255, 255, 0.05); }

/*
	jQuery.mmenu offcanvas addon CSS
*/
.mm-page {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease; }

html.mm-opened {
  overflow: hidden;
  position: relative; }
  html.mm-opened body {
    overflow: hidden; }
  html.mm-opened .mm-page {
    box-sizing: border-box;
    position: relative; }

html.mm-background .mm-page {
  background: inherit; }

#mm-blocker {
  background: rgba(3, 2, 1, 0);
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999; }

html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker {
  display: block; }

.mm-menu.mm-offcanvas {
  display: none;
  position: fixed; }
.mm-menu.mm-current {
  display: block; }

.mm-menu {
  width: 80%;
  min-width: 140px;
  max-width: 440px; }

html.mm-opening .mm-page,
html.mm-opening #mm-blocker {
  -webkit-transform: translate(80%, 0);
  transform: translate(80%, 0); }

@media all and (max-width: 175px) {
  html.mm-opening .mm-page,
  html.mm-opening #mm-blocker {
    -webkit-transform: translate(140px, 0);
    transform: translate(140px, 0); } }
@media all and (min-width: 550px) {
  html.mm-opening .mm-page,
  html.mm-opening #mm-blocker {
    -webkit-transform: translate(440px, 0);
    transform: translate(440px, 0); } }
/*
	jQuery.mmenu buttonbars addon CSS
*/
.mm-buttonbar {
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0;
  position: relative; }
  .mm-buttonbar:after {
    content: '';
    display: block;
    clear: both; }
  .mm-buttonbar > * {
    border-left: 1px solid transparent;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .mm-buttonbar > a {
    text-decoration: none; }
  .mm-buttonbar > input {
    position: absolute;
    left: -1000px;
    top: -1000px; }
  .mm-buttonbar > input:checked + label {
    border-color: transparent  !important; }
  .mm-buttonbar > *:first-child,
  .mm-buttonbar > input:first-child + * {
    border-left: none; }
  .mm-buttonbar.mm-buttonbar-2 > * {
    width: 50%; }
  .mm-buttonbar.mm-buttonbar-3 > * {
    width: 33.33%; }
  .mm-buttonbar.mm-buttonbar-4 > * {
    width: 25%; }
  .mm-buttonbar.mm-buttonbar-5 > * {
    width: 20%; }

.mm-header .mm-buttonbar {
  margin-top: 20px;
  margin-left: -30px;
  margin-right: -30px; }

.mm-footer .mm-buttonbar {
  border: none;
  border-radius: none;
  line-height: 40px;
  margin: -10px -10px 0 -20px; }
  .mm-footer .mm-buttonbar > * {
    border-left: none; }

.mm-list > li > .mm-buttonbar {
  margin: 10px 20px; }

.mm-menu .mm-buttonbar {
  border-color: rgba(255, 255, 255, 0.6);
  background: #333333; }
  .mm-menu .mm-buttonbar > * {
    border-color: rgba(255, 255, 255, 0.6); }
  .mm-menu .mm-buttonbar > input:checked + label {
    background: rgba(255, 255, 255, 0.6);
    color: #333333; }

/*
	jQuery.mmenu counters addon CSS
*/
em.mm-counter {
  font: inherit;
  font-size: 14px;
  font-style: normal;
  text-indent: 0;
  line-height: 20px;
  display: block;
  margin-top: -10px;
  position: absolute;
  right: 40px;
  top: 50%; }
  em.mm-counter + a.mm-subopen {
    padding-left: 40px; }
    em.mm-counter + a.mm-subopen + a,
    em.mm-counter + a.mm-subopen + span {
      margin-right: 80px; }
  em.mm-counter + a.mm-fullsubopen {
    padding-left: 0; }

.mm-vertical em.mm-counter {
  top: 12px;
  margin-top: 0; }

.mm-nosubresults > em.mm-counter {
  display: none; }

.mm-menu em.mm-counter {
  color: rgba(255, 255, 255, 0.3); }

/*
	jQuery.mmenu dragOpen addon CSS
*/
html.mm-opened.mm-dragging .mm-menu,
html.mm-opened.mm-dragging .mm-page,
html.mm-opened.mm-dragging .mm-fixed-top,
html.mm-opened.mm-dragging .mm-fixed-bottom,
html.mm-opened.mm-dragging #mm-blocker {
  -webkit-transition-duration: 0s;
  transition-duration: 0s; }

/*
	jQuery.mmenu footer addon CSS
*/
.mm-footer {
  background: inherit;
  border-top: 1px solid transparent;
  text-align: center;
  line-height: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px 10px 0 20px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0; }

.mm-menu.mm-hasfooter > .mm-panel:after {
  height: 80px; }

.mm-menu .mm-footer {
  border-color: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.3); }

/*
	jQuery.mmenu header addon CSS
*/
.mm-header {
  background: inherit;
  border-bottom: 1px solid transparent;
  text-align: center;
  line-height: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 0 50px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0; }
  .mm-header .mm-title,
  .mm-header .mm-prev,
  .mm-header .mm-next {
    padding-top: 30px; }
  .mm-header .mm-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    position: relative; }
  .mm-header .mm-prev,
  .mm-header .mm-next {
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    min-width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1; }
  .mm-header .mm-prev {
    padding-left: 20px;
    padding-right: 10px;
    left: 0; }
  .mm-header .mm-next {
    padding-left: 10px;
    padding-right: 20px;
    right: 0; }
  .mm-header [href].mm-prev:before, .mm-header [href].mm-next:after {
    content: '';
    border: 2px solid transparent;
    display: inline-block;
    width: 7px;
    height: 7px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .mm-header [href].mm-prev:before {
    border-right: none;
    border-bottom: none;
    margin-left: 2px;
    margin-right: 5px; }
  .mm-header [href].mm-next:after {
    border-top: none;
    border-left: none;
    margin-left: 5px;
    margin-right: -2px; }

.mm-menu.mm-hassearch .mm-header {
  height: 50px;
  top: 50px; }
  .mm-menu.mm-hassearch .mm-header .mm-title,
  .mm-menu.mm-hassearch .mm-header .mm-prev,
  .mm-menu.mm-hassearch .mm-header .mm-next {
    padding-top: 20px; }

.mm-menu.mm-hasheader li.mm-subtitle {
  display: none; }
.mm-menu.mm-hasheader > .mm-panel {
  padding-top: 80px; }
  .mm-menu.mm-hasheader > .mm-panel.mm-list {
    padding-top: 60px; }
  .mm-menu.mm-hasheader > .mm-panel > .mm-list:first-child {
    margin-top: -20px; }
.mm-menu.mm-hasheader.mm-hassearch > .mm-panel {
  padding-top: 120px; }
  .mm-menu.mm-hasheader.mm-hassearch > .mm-panel.mm-list {
    padding-top: 100px; }

.mm-menu .mm-header {
  border-color: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.3); }
  .mm-menu .mm-header .mm-prev:before,
  .mm-menu .mm-header .mm-next:after {
    border-color: rgba(255, 255, 255, 0.3); }

/*
	jQuery.mmenu labels addon CSS
*/
.mm-list > li.mm-label > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  line-height: 25px; }
.mm-list > li.mm-label.mm-opened a.mm-subopen:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 17px; }
.mm-list > li.mm-collapsed {
  display: none; }

.mm-menu .mm-list li.mm-label > div > div {
  background: rgba(255, 255, 255, 0.05); }

/*
	jQuery.mmenu searchfield addon CSS
*/
.mm-search,
.mm-search input {
  box-sizing: border-box; }

.mm-list > li.mm-search {
  padding: 10px;
  margin-top: -20px; }
.mm-list > li.mm-subtitle + li.mm-search {
  margin-top: 0; }

div.mm-panel > div.mm-search {
  padding: 0 0 10px 0; }

.mm-menu.mm-hasheader .mm-list > li.mm-search {
  margin-top: 0; }

.mm-menu > .mm-search {
  background: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.mm-search {
  padding: 10px; }
  .mm-search input {
    border: none;
    border-radius: 30px;
    font: inherit;
    font-size: 14px;
    line-height: 30px;
    outline: none;
    display: block;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0 10px; }
  .mm-search input::-ms-clear {
    display: none; }

.mm-menu .mm-noresultsmsg {
  text-align: center;
  font-size: 21px;
  display: none;
  padding: 60px 0; }
  .mm-menu .mm-noresultsmsg:after {
    border: none !important; }

.mm-noresults .mm-noresultsmsg {
  display: block; }

.mm-menu li.mm-nosubresults > a.mm-subopen {
  display: none; }
  .mm-menu li.mm-nosubresults > a.mm-subopen + a,
  .mm-menu li.mm-nosubresults > a.mm-subopen + span {
    padding-right: 10px; }
.mm-menu.mm-hassearch > .mm-panel {
  padding-top: 70px; }
  .mm-menu.mm-hassearch > .mm-panel > .mm-list:first-child {
    margin-top: -20px; }
.mm-menu.mm-hasheader > .mm-panel > div.mm-search:first-child {
  margin-top: -10px; }
  .mm-menu.mm-hasheader > .mm-panel > div.mm-search:first-child + .mm-list {
    padding-top: 0; }

.mm-menu .mm-search input {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6); }
.mm-menu .mm-noresultsmsg {
  color: rgba(255, 255, 255, 0.3); }

/*
	jQuery.mmenu toggles addon CSS
*/
input.mm-toggle,
input.mm-check {
  position: absolute;
  left: -10000px; }

label.mm-toggle,
label.mm-check {
  margin: 0;
  position: absolute;
  bottom: 50%;
  z-index: 1; }
  label.mm-toggle:before,
  label.mm-check:before {
    content: '';
    display: block; }

label.mm-toggle {
  border-radius: 30px;
  width: 50px;
  height: 30px;
  margin-bottom: -15px; }
  label.mm-toggle:before {
    border-radius: 30px;
    width: 28px;
    height: 28px;
    margin: 1px; }

input.mm-toggle:checked ~ label.mm-toggle:before {
  float: right; }

label.mm-check {
  width: 30px;
  height: 30px;
  margin-bottom: -15px; }
  label.mm-check:before {
    border-left: 3px solid;
    border-bottom: 3px solid;
    width: 40%;
    height: 20%;
    margin: 25% 0 0 20%;
    opacity: 0.1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

input.mm-check:checked ~ label.mm-check:before {
  opacity: 1; }

.mm-menu.mm-vertical .mm-list > li label.mm-toggle, .mm-menu.mm-vertical .mm-list > li label.mm-check {
  bottom: auto;
  margin-bottom: 0; }
.mm-menu.mm-vertical .mm-list > li label.mm-toggle {
  top: 5px; }
.mm-menu.mm-vertical .mm-list > li label.mm-check {
  top: 5px; }

label.mm-toggle, label.mm-check {
  right: 20px; }

label.mm-toggle + a,
label.mm-toggle + span {
  margin-right: 70px; }

label.mm-check + a,
label.mm-check + span {
  margin-right: 50px; }

a.mm-subopen + label.mm-toggle, a.mm-subopen + label.mm-check {
  right: 50px; }

a.mm-subopen + label.mm-toggle + a,
a.mm-subopen + label.mm-toggle + span {
  margin-right: 100px; }

a.mm-subopen + label.mm-check + a,
a.mm-subopen + label.mm-check + span {
  margin-right: 80px; }

em.mm-counter + a.mm-subopen + label.mm-toggle, em.mm-counter + a.mm-subopen + label.mm-check {
  right: 90px; }

em.mm-counter + a.mm-subopen + label.mm-toggle + a,
em.mm-counter + a.mm-subopen + label.mm-toggle + span {
  margin-right: 140px; }

em.mm-counter + a.mm-subopen + label.mm-check + a,
em.mm-counter + a.mm-subopen + label.mm-check + span {
  margin-right: 120px; }

.mm-menu label.mm-toggle {
  background: rgba(0, 0, 0, 0.15); }
  .mm-menu label.mm-toggle:before {
    background: #333333; }
.mm-menu input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963; }

.mm-menu label.mm-check:before {
  border-color: rgba(255, 255, 255, 0.6); }

/*
	jQuery.mmenu effects extension CSS
*/
html.mm-slide .mm-menu {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease; }
html.mm-slide.mm-opened .mm-menu {
  -webkit-transform: translateX(-30%);
  transform: translateX(-30%); }
html.mm-slide.mm-opening .mm-menu {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); }
html.mm-slide.mm-right.mm-opened .mm-menu {
  -webkit-transform: translateX(30%);
  transform: translateX(30%); }
html.mm-slide.mm-right.mm-opening .mm-menu {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); }
html.mm-slide.mm-top.mm-opened .mm-menu {
  -webkit-transform: translateY(-30%);
  transform: translateY(-30%); }
html.mm-slide.mm-top.mm-opening .mm-menu {
  -webkit-transform: translateY(0%);
  transform: translateY(0%); }
html.mm-slide.mm-bottom.mm-opened .mm-menu {
  -webkit-transform: translateY(30%);
  transform: translateY(30%); }
html.mm-slide.mm-bottom.mm-opening .mm-menu {
  -webkit-transform: translateY(0%);
  transform: translateY(0%); }

html.mm-zoom-menu .mm-menu {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease; }
html.mm-zoom-menu.mm-opened .mm-menu {
  -webkit-transform: scale(0.7, 0.7) translateX(-30%);
  transform: scale(0.7, 0.7) translateX(-30%);
  -webkit-transform-origin: left center;
  transform-origin: left center; }
html.mm-zoom-menu.mm-opening .mm-menu {
  -webkit-transform: scale(1, 1) translateX(0%);
  transform: scale(1, 1) translateX(0%); }
html.mm-zoom-menu.mm-right.mm-opened .mm-menu {
  -webkit-transform: scale(0.7, 0.7) translateX(30%);
  transform: scale(0.7, 0.7) translateX(30%);
  -webkit-transform-origin: right center;
  transform-origin: right center; }
html.mm-zoom-menu.mm-right.mm-opening .mm-menu {
  -webkit-transform: scale(1, 1) translateX(0%);
  transform: scale(1, 1) translateX(0%); }
html.mm-zoom-menu.mm-top.mm-opened .mm-menu {
  -webkit-transform: scale(0.7, 0.7) translateY(-30%);
  transform: scale(0.7, 0.7) translateY(-30%);
  -webkit-transform-origin: center top;
  transform-origin: center top; }
html.mm-zoom-menu.mm-top.mm-opening .mm-menu {
  -webkit-transform: scale(1, 1) translateY(0%);
  transform: scale(1, 1) translateY(0%); }
html.mm-zoom-menu.mm-bottom.mm-opened .mm-menu {
  -webkit-transform: scale(0.7, 0.7) translateY(30%);
  transform: scale(0.7, 0.7) translateY(30%);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }
html.mm-zoom-menu.mm-bottom.mm-opening .mm-menu {
  -webkit-transform: scale(1, 1) translateY(0%);
  transform: scale(1, 1) translateY(0%); }

html.mm-zoom-panels .mm-menu.mm-horizontal > .mm-panel {
  -webkit-transform: scale(1.5, 1.5) translateX(100%);
  transform: scale(1.5, 1.5) translateX(100%);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition-property: -webkit-transform, left;
  transition-property: transform, left; }
  html.mm-zoom-panels .mm-menu.mm-horizontal > .mm-panel.mm-opened {
    -webkit-transform: scale(1, 1) translateX(0%);
    transform: scale(1, 1) translateX(0%); }
    html.mm-zoom-panels .mm-menu.mm-horizontal > .mm-panel.mm-opened.mm-subopened {
      -webkit-transform: scale(0.7, 0.7) translateX(-30%);
      transform: scale(0.7, 0.7) translateX(-30%); }

/*
	jQuery.mmenu fullscreen extension CSS
*/
.mm-menu.mm-fullscreen {
  width: 100%;
  min-width: 140px;
  max-width: 10000px; }

html.mm-opening.mm-fullscreen .mm-page,
html.mm-opening.mm-fullscreen #mm-blocker {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0); }

@media all and (max-width: 140px) {
  html.mm-opening.mm-fullscreen .mm-page,
  html.mm-opening.mm-fullscreen #mm-blocker {
    -webkit-transform: translate(140px, 0);
    transform: translate(140px, 0); } }
@media all and (min-width: 10000px) {
  html.mm-opening.mm-fullscreen .mm-page,
  html.mm-opening.mm-fullscreen #mm-blocker {
    -webkit-transform: translate(10000px, 0);
    transform: translate(10000px, 0); } }
html.mm-right.mm-opening.mm-fullscreen .mm-page,
html.mm-right.mm-opening.mm-fullscreen #mm-blocker {
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0); }

@media all and (max-width: 140px) {
  html.mm-right.mm-opening.mm-fullscreen .mm-page,
  html.mm-right.mm-opening.mm-fullscreen #mm-blocker {
    -webkit-transform: translate(-140px, 0);
    transform: translate(-140px, 0); } }
@media all and (min-width: 10000px) {
  html.mm-right.mm-opening.mm-fullscreen .mm-page,
  html.mm-right.mm-opening.mm-fullscreen #mm-blocker {
    -webkit-transform: translate(-10000px, 0);
    transform: translate(-10000px, 0); } }
.mm-menu.mm-front.mm-fullscreen.mm-top, .mm-menu.mm-front.mm-fullscreen.mm-bottom {
  height: 100%;
  min-height: 140px;
  max-height: 10000px; }

html.mm-opened.mm-fullscreen .mm-page {
  box-shadow: none !important; }

/*
	jQuery.mmenu position extension CSS
*/
.mm-menu.mm-top,
.mm-menu.mm-bottom {
  width: 100%;
  min-width: 100%;
  max-width: 100%; }

.mm-menu.mm-right {
  left: auto;
  right: 0; }

.mm-menu.mm-bottom {
  top: auto;
  bottom: 0; }

html.mm-right.mm-opening .mm-page,
html.mm-right.mm-opening #mm-blocker {
  -webkit-transform: translate(-80%, 0);
  transform: translate(-80%, 0); }

@media all and (max-width: 175px) {
  html.mm-right.mm-opening .mm-page,
  html.mm-right.mm-opening #mm-blocker {
    -webkit-transform: translate(-140px, 0);
    transform: translate(-140px, 0); } }
@media all and (min-width: 550px) {
  html.mm-right.mm-opening .mm-page,
  html.mm-right.mm-opening #mm-blocker {
    -webkit-transform: translate(-440px, 0);
    transform: translate(-440px, 0); } }
/*
	jQuery.mmenu z-position extension CSS
*/
html.mm-front .mm-page,
html.mm-front #mm-blocker {
  -webkit-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  z-index: 0; }

.mm-menu.mm-front {
  z-index: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

html.mm-opened.mm-next .mm-page {
  box-shadow: none; }

.mm-menu.mm-front, .mm-menu.mm-next {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0); }
  .mm-menu.mm-front.mm-right, .mm-menu.mm-next.mm-right {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0); }
.mm-menu.mm-front.mm-top {
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%); }
.mm-menu.mm-front.mm-bottom {
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%); }

html.mm-opening .mm-menu.mm-front, html.mm-opening .mm-menu.mm-next {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.mm-menu.mm-front.mm-top, .mm-menu.mm-front.mm-bottom {
  height: 80%;
  min-height: 140px;
  max-height: 880px; }

/*
	jQuery.mmenu themes extension CSS
*/
html.mm-opened.mm-light .mm-page {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light {
  background: #f3f3f3;
  color: rgba(0, 0, 0, 0.6); }
  .mm-menu.mm-light .mm-list > li:after {
    border-color: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-light .mm-list > li > a.mm-subclose {
    background: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-light .mm-list > li > a.mm-subopen:after, .mm-menu.mm-light .mm-list > li > a.mm-subclose:before {
    border-color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-light .mm-list > li > a.mm-subopen:before {
    border-color: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-light .mm-list > li.mm-selected > a:not(.mm-subopen),
  .mm-menu.mm-light .mm-list > li.mm-selected > span {
    background: rgba(255, 255, 255, 0.6); }
  .mm-menu.mm-light .mm-list > li.mm-label {
    background: rgba(0, 0, 0, 0.03); }
  .mm-menu.mm-light.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
  .mm-menu.mm-light.mm-vertical .mm-list li.mm-opened > ul {
    background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-light .mm-buttonbar {
  border-color: rgba(0, 0, 0, 0.6);
  background: #f3f3f3; }
  .mm-menu.mm-light .mm-buttonbar > * {
    border-color: rgba(0, 0, 0, 0.6); }
  .mm-menu.mm-light .mm-buttonbar > input:checked + label {
    background: rgba(0, 0, 0, 0.6);
    color: #f3f3f3; }

.mm-menu.mm-light label.mm-check:before {
  border-color: rgba(0, 0, 0, 0.6); }

.mm-menu.mm-light em.mm-counter {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light .mm-footer {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light .mm-header {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-light .mm-header .mm-prev:before,
  .mm-menu.mm-light .mm-header .mm-next:after {
    border-color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light .mm-list li.mm-label > div > div {
  background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-light .mm-search input {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-light .mm-noresultsmsg {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light label.mm-toggle {
  background: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-light label.mm-toggle:before {
    background: #f3f3f3; }
.mm-menu.mm-light input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963; }

html.mm-opened.mm-white .mm-page {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white {
  background: white;
  color: rgba(0, 0, 0, 0.6); }
  .mm-menu.mm-white .mm-list > li:after {
    border-color: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-white .mm-list > li > a.mm-subclose {
    background: rgba(0, 0, 0, 0.06);
    color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-white .mm-list > li > a.mm-subopen:after, .mm-menu.mm-white .mm-list > li > a.mm-subclose:before {
    border-color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-white .mm-list > li > a.mm-subopen:before {
    border-color: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-white .mm-list > li.mm-selected > a:not(.mm-subopen),
  .mm-menu.mm-white .mm-list > li.mm-selected > span {
    background: rgba(0, 0, 0, 0.06); }
  .mm-menu.mm-white .mm-list > li.mm-label {
    background: rgba(0, 0, 0, 0.03); }
  .mm-menu.mm-white.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
  .mm-menu.mm-white.mm-vertical .mm-list li.mm-opened > ul {
    background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-white .mm-buttonbar {
  border-color: rgba(0, 0, 0, 0.6);
  background: white; }
  .mm-menu.mm-white .mm-buttonbar > * {
    border-color: rgba(0, 0, 0, 0.6); }
  .mm-menu.mm-white .mm-buttonbar > input:checked + label {
    background: rgba(0, 0, 0, 0.6);
    color: white; }

.mm-menu.mm-white label.mm-check:before {
  border-color: rgba(0, 0, 0, 0.6); }

.mm-menu.mm-white em.mm-counter {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white .mm-footer {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white .mm-header {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-white .mm-header .mm-prev:before,
  .mm-menu.mm-white .mm-header .mm-next:after {
    border-color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white .mm-list li.mm-label > div > div {
  background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-white .mm-search input {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-white .mm-noresultsmsg {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white label.mm-toggle {
  background: rgba(0, 0, 0, 0.1); }
  .mm-menu.mm-white label.mm-toggle:before {
    background: white; }
.mm-menu.mm-white input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963; }

html.mm-opened.mm-black .mm-page {
  box-shadow: none; }

.mm-menu.mm-black {
  background: black;
  color: rgba(255, 255, 255, 0.6); }
  .mm-menu.mm-black .mm-list > li:after {
    border-color: rgba(255, 255, 255, 0.2); }
  .mm-menu.mm-black .mm-list > li > a.mm-subclose {
    background: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.3); }
  .mm-menu.mm-black .mm-list > li > a.mm-subopen:after, .mm-menu.mm-black .mm-list > li > a.mm-subclose:before {
    border-color: rgba(255, 255, 255, 0.3); }
  .mm-menu.mm-black .mm-list > li > a.mm-subopen:before {
    border-color: rgba(255, 255, 255, 0.2); }
  .mm-menu.mm-black .mm-list > li.mm-selected > a:not(.mm-subopen),
  .mm-menu.mm-black .mm-list > li.mm-selected > span {
    background: rgba(255, 255, 255, 0.25); }
  .mm-menu.mm-black .mm-list > li.mm-label {
    background: rgba(255, 255, 255, 0.15); }
  .mm-menu.mm-black.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
  .mm-menu.mm-black.mm-vertical .mm-list li.mm-opened > ul {
    background: rgba(255, 255, 255, 0.15); }

.mm-menu.mm-black .mm-buttonbar {
  border-color: rgba(255, 255, 255, 0.6);
  background: black; }
  .mm-menu.mm-black .mm-buttonbar > * {
    border-color: rgba(255, 255, 255, 0.6); }
  .mm-menu.mm-black .mm-buttonbar > input:checked + label {
    background: rgba(255, 255, 255, 0.6);
    color: black; }

.mm-menu.mm-black label.mm-check:before {
  border-color: rgba(255, 255, 255, 0.6); }

.mm-menu.mm-black em.mm-counter {
  color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black .mm-footer {
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black .mm-header {
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.3); }
  .mm-menu.mm-black .mm-header .mm-prev:before,
  .mm-menu.mm-black .mm-header .mm-next:after {
    border-color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black .mm-list li.mm-label > div > div {
  background: rgba(255, 255, 255, 0.15); }

.mm-menu.mm-black .mm-search input {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6); }
.mm-menu.mm-black .mm-noresultsmsg {
  color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black label.mm-toggle {
  background: rgba(255, 255, 255, 0.2); }
  .mm-menu.mm-black label.mm-toggle:before {
    background: black; }
.mm-menu.mm-black input.mm-toggle:checked ~ label.mm-toggle {
  background: #4bd963; }

.glide {
  position: relative;
  width: 100%;
  height: 100%;
}
.glide__wrapper {
  overflow: hidden;
}
.glide__track {
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -ms-touch-action: pan-Y;
      touch-action: pan-Y;
  overflow: hidden;
}
.glide__track.dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.glide__slide {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.glide__arrow {
  cursor: pointer;
}
.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.glide--slider .glide__slide {
  float: left;
  clear: none;
}
.glide--carousel.glide--vertical .glide__track {
  overflow: visible;
}
.glide--carousel .glide__slide {
  float: left;
  clear: none;
}
.glide--slideshow .glide__wrapper {
  height: 100%;
}
.glide--slideshow .glide__slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.glide--slideshow .glide__slide.active {
  z-index: 1;
}

.glide__arrows {
  position: absolute;
}
.glide--horizontal .glide__arrows {
  top: 50%;
  width: 92%;
  margin-left: 4%;
}
.glide--vertical .glide__arrows {
  left: 50%;
  height: 88%;
  margin-top: 6%;
}
.glide__arrow {
  position: absolute;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  font: 11px Arial, sans-serif;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  -webkit-transition: border 300ms ease-in-out;
          transition: border 300ms ease-in-out;
}
.glide__arrow:focus {
  outline: none;
}
.glide__arrow:hover {
  border-color: white;
}
.glide--horizontal .glide__arrow {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.glide--horizontal .glide__arrow.prev {
  left: 0;
}
.glide--horizontal .glide__arrow.next {
  right: 0;
}
.glide--vertical .glide__arrow {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.glide--vertical .glide__arrow.prev {
  top: 0;
}
.glide--vertical .glide__arrow.next {
  bottom: 0;
}
.glide__bullets {
  position: absolute;
  list-style: none;
}
.glide--horizontal .glide__bullets {
  bottom: 8%;
  left: 0;
  width: 100%;
  height: 12px;
  text-align: center;
}
.glide--vertical .glide__bullets {
  top: 50%;
  right: 8%;
  width: 12px;
  height: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.glide__bullets > * {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
}
.glide--horizontal .glide__bullets > * {
  margin: 0 5px;
}
.glide--vertical .glide__bullets > * {
  vertical-align: middle;
}
.glide__bullets > *.active {
  background-color: white;
}
.glide__bullets > *:focus {
  outline: none;
}
.glide__bullets > *:hover,
.glide__bullets > *:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}
.glide--slider .glide__arrow {
  opacity: 1;
  -webkit-transition: opacity 150ms ease;
          transition: opacity 150ms ease;
}
.glide--slider .glide__arrow.disabled {
  opacity: 0.33;
}

/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 0.4.10 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2014, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
	.featherlight {
		display: none;

		/* dimensions: spanning the background from edge to edge */
		position:fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: 4;

		/* position: centering content */
		text-align: center;

		/* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
		white-space: nowrap;

		/* styling */
		cursor: pointer;
		background: #333;
		/* IE8 "hack" for nested featherlights */
		background: rgba(0, 0, 0, 0);
	}

	/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
	.featherlight:last-of-type {
		background: rgba(0, 0, 0, 0.8);
	}

	.featherlight:before {
		/* position: trick to center content vertically */
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}

	.featherlight .featherlight-content {
		/* make content container for positioned elements (close button) */
		position: relative;

		/* position: centering vertical and horizontal */
		/*text-align: left;*/
		vertical-align: middle;
		display: inline-block;

		/* dimensions: cut off images */
		/*overflow: auto;*/
		padding: 25px 12px 12px;
		/*border-bottom: 25px solid transparent;*/

		/* dimensions: handling small or non existing (loading images) content */
		/*min-width:  30%;*/

		/* dimensions: handling large content */
    
		margin-left: 5%;
		margin-right: 5%;
		max-height: 85%;
    max-width: 850px;
    width: auto;

		/* styling */
		background: #fff;
		cursor: auto;

		/* reset white-space wrapping */
		white-space: normal;
	}

	/* contains the content */
	.featherlight .featherlight-inner {
		/* make sure its visible */
		display: block;
	}

	.featherlight .featherlight-close-icon {
		/* position: centering vertical and horizontal */
		position: absolute;
		z-index: 9999;
		top: 0;
		right: 0;

		/* dimensions: 25px x 25px */
		line-height: 25px;
		width: 25px;

		/* styling */
		cursor: pointer;
		text-align: center;
		font: Arial, sans-serif;
		background: #fff; /* Set the background in case it overlaps the content */
		background: rgba(255, 255, 255, 0.3);
		color: #000;
	}


	.featherlight .featherlight-image {
		/* styling */
    display: block;
    max-width: 100%;
    max-height: 85%;
    height: auto;
		width: auto;
    text-align: center;
    float: left;
	}


	.featherlight-iframe .featherlight-content {
		/* removed the border for image croping since iframe is edge to edge */
		border-bottom: 0;
		padding: 0;
	}

	.featherlight iframe {
		/* styling */
		border: none;
	}
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		/* dimensions: maximize lightbox with for small screens */
		margin-left: 10px;
		margin-right: 10px;
		max-height: 98%;

		padding: 25px 12px 12px;
		/*border-bottom: 10px solid transparent;*/
	}
}

@import url("//fonts.googleapis.com/css?family=Maven+Pro:400,700");
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,900");
@import url("//fonts.googleapis.com/css?family=Lato:300");
/*Variables*/
/*ryan's additions*/
/*mmenu Jquery additions. Do not overwrite the plugins css because it will get overwritten when updating bower*/
a[href*="#my-menu"] {
  position: absolute;
  /*z-index: 5;*/
  /*left: 10px;*/
  /*display: block;*/
  width: 40px;
  height: 36px;
  margin: 15px;
  left: 0;
  top: 0px;
  /*position: fixed;*/
  z-index: 2;
}
@media all and (min-width: 600px) {
  a[href*="#my-menu"] {
    margin: 20px;
  }
}

a[href="#my-menu__01"] {
  cursor: pointer;
  position: absolute;
  top: -5px;
  left: 0;
}

[href*="#my-menu"]:before {
  top: 5px;
}

[href*="#my-menu"]:after {
  bottom: 5px;
}

[href*="#my-menu"]:before,
[href*="#my-menu"]:after,
[href*="#my-menu"] span {
  transition: none 0.5s ease 0.5s;
  transition-property: transform, top, bottom, left, opacity;
  background: rgba(0, 0, 0, 0.6);
  content: '';
  display: block;
  width: 30px;
  height: 6px;
  position: absolute;
  left: 5px;
}

.mm-menu {
  background-color: #595959;
}

.mm-menu .mm-list > li > a.mm-subopen:after {
  border-color: rgba(255, 255, 255, 0.8);
}

.mm-menu .mm-list > li > a.mm-subclose {
  padding-top: 10px;
  margin-bottom: 15px;
  background-color: #363636;
}
.mm-menu .mm-list > li > a.mm-subclose:before {
  border-color: rgba(255, 255, 255, 0.8);
}

.mm-menu .mm-list > li:after {
  border-color: rgba(255, 255, 255, 0.2);
}

a[href*="#my-menu"] span {
  top: 50%;
  margin-top: -3px;
}

@media all and (min-width: 1200px) {
  a[href*="#my-menu"] {
    display: none;
  }

  a[href*="#my-menu"].U__show {
    display: none;
    margin: 25px 55px 55px;
  }
}
#my-menu__01 {
  z-index: 4;
}

#my-menu,
#my-menu__01 {
  display: none;
}

#my-menu__01.mm-current,
#my-menu.mm-current {
  display: block;
}

/*#my-menu > ul{*/
/*display: none;*/
/*}*/
/*#my-menu > .mm-list{*/
/*display: block;*/
/*}*/
html,
body {
  margin: 0;
  height: 100%;
  /*height: auto;*/
  /*min-height: 100%;*/
  /*overflow: hidden;*/
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  outline: 0;
  background: transparent;
  border: 0;
  padding: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?pclm04");
  src: url("../fonts/icomoon.eot?#iefixpclm04") format("embedded-opentype"), url("../fonts/icomoon.woff?pclm04") format("woff"), url("../fonts/icomoon.ttf?pclm04") format("truetype"), url("../fonts/icomoon.svg?pclm04#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kozuka';
  src: url("../fonts/kozuka.eot?pclm04");
  src: url("../fonts/kozuka.eot?#iefixpclm04") format("embedded-opentype"), url("../fonts/kozuka.svg?pclm04#kozuka") format("svg");
  font-weight: normal;
  font-style: normal;
}
.S__gen__01,
.S__gen__02 {
  font-family: "Arial", Gadget, sans-serif;
  font-size: .9em;
  line-height: 120%;
}

.S__gen__01 {
  color: rgba(255, 255, 255, 0.75);
}

.S__gen__02 {
  color: rgba(0, 0, 0, 0.75);
}

@media all and (min-width: 400px) {
  .S__gen__01 {
    font-size: 1em;
  }
}
[class*="S__lato"] {
  color: #fff;
  font-family: 'lato', sans-serif;
  letter-spacing: 1px;
}

.S__lato__01,
.S__lato__02,
.S__lato__03,
.S__lato__04 {
  font-size: 1.5rem;
}

.S__lato__01,
.S__lato__02,
.S__lato__03 {
  font-weight: normal;
  text-transform: uppercase;
  /*font-size: 4em;*/
}

[class*="S__lato__02"] {
  color: rgba(0, 0, 0, 0.75);
}

.S__lato__03,
.S__lato__04 {
  text-decoration: none;
  color: black;
  color: rgba(0, 0, 0, 0.75);
}
.S__lato__03:link, .S__lato__03:visited, .S__lato__03:active,
.S__lato__04:link,
.S__lato__04:visited,
.S__lato__04:active {
  color: black;
  color: rgba(0, 0, 0, 0.75);
}
.S__lato__03:hover,
.S__lato__04:hover {
  color: #FFE050;
}

@media all and (min-width: 600px) {
  .S__lato__01,
  .S__lato__02,
  .S__lato__03,
  .S__lato__04 {
    font-size: 1.8rem;
  }
}
@media all and (min-width: 800px) {
  .S__lato__01,
  .S__lato__02,
  .S__lato__03,
  .S__lato__04 {
    font-size: 2rem;
  }
}
[class*="S__kozuka"] {
  color: white;
  /*font-family: 'kozuka';*/
}

.S__kozuka__01,
.S__kozuka__03,
.S__kozuka__05,
.S__kozuka__07,
.S__kozuka__08 {
  font-weight: normal;
}

.S__kozuka__02,
.S__kozuka__04,
.S__kozuka__06 {
  font-weight: bold;
}

.S__kozuka__01,
.S__kozuka__02 {
  color: rgba(0, 0, 0, 0.75) !important;
  font-size: .72em;
  /*font-size: 4vw;*/
}

.S__kozuka__08 {
  color: white;
  letter-spacing: .09em;
  font-size: 1.2em;
}

@media all and (min-width: 320px) {
  .S__kozuka__01,
  .S__kozuka__02 {
    font-size: 1em;
  }

  .S__kozuka__08 {
    font-size: 1.4em;
  }
}
@media all and (min-width: 500px) {
  .S__kozuka__01,
  .S__kozuka__02 {
    font-size: 1.55em;
  }

  .S__kozuka__08 {
    font-size: 1.8em;
  }
}
.S__kozuka__01,
.S__kozuka__02 {
  line-height: 120%;
}

.S__kozuka__01 {
  letter-spacing: .01em;
}

.S__kozuka__02 {
  letter-spacing: .06em;
}

.S__kozuka__05,
.S__kozuka__06,
.S__kozuka__07 {
  font-size: 1.5em;
  /*font-size: 12vw;*/
}

.S__kozuka__05 {
  letter-spacing: .095em;
}

.S__kozuka__06 {
  letter-spacing: .15em;
}

.S__kozuka__07 {
  letter-spacing: .095em;
}

.S__underline__01 {
  /*border-bottom: 5px solid #007AEA;*/
  /*border-bottom: 5px solid #214A6F;*/
}

.S__underline__02 {
  box-sizing: border-box;
  border-bottom: 5px solid transparent;
}

.S__underline__02:hover {
  /*border-bottom: 5px solid #FBE685;*/
  border-bottom: 5px solid #FFE050;
}

.S__underline__03 {
  /*border-bottom: 5px solid #007AEA;*/
  /*border-top: 5px solid #214A6F;*/
}

.S__cont__08 {
  border: 5px solid #214A6F;
}

.S__cont__09 {
  position: relative;
}
.S__cont__09:after {
  content: '\A';
  position: absolute;
  background: #fafafa;
  top: 0;
  bottom: 0;
  left: 0;
  width: 35%;
  /* Specify the width.. */
  z-index: -1;
}

.S__cont__10,
.S__cont__11 {
  display: block;
  padding: 10px 35px;
  padding: 5px 18px;
  border-radius: 5px;
}
@media (min-width: 600px) {
  .S__cont__10,
  .S__cont__11 {
    padding: 10px 35px;
  }
}

.S__cont__10 {
  border: 3px solid #3fad49;
  /*border: 3px solid rgba(55,132, 60, .7);*/
  background-color: #37843c;
  /*background-color: rgba(55,132, 60);*/
}

.S__cont__11 {
  border: 3px solid #00aeef;
  /*border: 3px solid rgba(2, 114, 155, .7);*/
  background-color: #02729b;
}

.S__cont__12 {
  border-bottom: 5px solid #FFD304;
}

.S__cont__13 {
  background-color: rgba(0, 0, 0, 0.4);
  text-align: left;
  display: inline-block;
}

.S__cont__14 {
  border-top: 3px solid #FFD304;
}

.S__cont__15 {
  background-color: #191919;
}

/*@media all and (min-width: 320px) {*/
/*}*/
.truss__14 .item__01--truss__14 {
  width: 50%;
}

@media all and (min-width: 450px) {
  .S__kozuka__05,
  .S__kozuka__06,
  .S__kozuka__07 {
    font-size: 1.5em;
  }

  .truss__14 .item__01--truss__14 {
    width: 70%;
  }
}
@media all and (min-width: 800px) {
  .S__kozuka__05,
  .S__kozuka__06,
  .S__kozuka__07 {
    font-size: 2em;
  }

  .S__kozuka__07 {
    letter-spacing: .13em;
  }

  .truss__14 .item__01--truss__14 {
    width: 100%;
  }
}
@media all and (min-width: 800px) {
  .S__kozuka__05,
  .S__kozuka__06,
  .S__kozuka__07 {
    font-size: 2em;
  }

  .S__kozuka__07 {
    letter-spacing: .13em;
  }

  .truss__14 .item__01--truss__14 {
    width: 100%;
  }
}
.S__kozuka__03 {
  font-size: 1.5em;
  /*font-size: 1.81em;*/
}

.S__kozuka__04 {
  font-size: 3.975em;
  /*font-size: 1.81em*/
}

/*Youtube Background yo*/
#video {
  /*position: relative;*/
  background: transparent;
}

.ytplayer-container {
  position: absolute;
  top: 0;
  z-index: -1;
}

.background-video {
  background-position: top center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

video,
source {
  bottom: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

.loaded .ytplayer-container {
  display: block;
}

.loaded .placeholder-image {
  opacity: 0;
}

.ytplayer-container {
  bottom: 0;
  height: 100%;
  left: 0;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.placeholder-image {
  height: 100%;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.ytplayer-shield {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.ytplayer-player {
  position: absolute;
}

#nav {
  /*position: absolute;*/
  /*display: block;*/
  /*top: 1em;*/
  /*left: 0;*/
  /*width: 100%;*/
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
}

.S__shdw__01 {
  -moz-box-shadow: black 2px 2px 10px;
  -webkit-box-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px;
}

.S__bg__01,
.S__bg__02 {
  /*background-color: rgba(0,0,0,0.70);*/
  background-color: rgba(25, 117, 117, 0.5);
  background-repeat: repeat;
  /*display: block;*/
  position: relative;
}

.S__bg__03 {
  /*background-color: rgba(76,156,156,.8);*/
  background-color: rgba(180, 226, 226, 0.8);
}

.S__bg__04 {
  background-image: url("/images/diagonal-noise.png");
}

.S__bg__07,
.S__bg__08 {
  /*background-color: rgba(0,0,0,0.70);*/
  background-repeat: repeat;
  /*display: block;*/
  position: relative;
}

.S__bg__08 {
  background-color: rgba(0, 0, 0, 0.75);
}

.S__bg__07:after {
  content: "";
  background-image: url("/images/diagonal-noise.png");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.S__bg__05 {
  background-color: #666464;
}

.S__bg__09 {
  background-color: rgba(12, 37, 41, 0.8);
}

.S__bg__11 {
  background-color: #0c2529;
}

.S__bg__12,
.mm-subclose {
  /*background-color: rgba(64,64,64, .85);*/
  /*background-color: #292929;*/
  background-color: #white;
}

.S__bg__13 {
  background-color: rgba(131, 131, 131, 0.95);
}

.S__bg__17 {
  background-color: #292929;
}

.S__bg__18 {
  /*background-color: #b5b5b5;*/
  background-color: #F1F1F2;
}

/*.S__carousel__01{*/
/*background-image: url('/images/homes.jpg');*/
/*}*/
.S__carousel__02 {
  background-image: url("/images/spray-foam1.jpg");
}

/*.S__carousel__03{*/
/*background-image: url('/images/cellulose-attic1.jpg');*/
/*}*/
.S__bg__19 {
  background-image: url("/images/thermal.jpg");
  background-size: cover;
}

.S__bg__20 {
  background-image: url("../images/ice-dam.jpg");
  background-size: cover;
}

.S__bg__21 {
  background-image: url("../images/nest.png");
  background-size: cover;
}

.S__bg__22 {
  background-image: url("../images/energy-star-snippet.png");
  background-size: cover;
}

.S__bg__23 {
  background-color: #292929;
}

.S__bg__06 {
  background-color: #3F3E3E;
}

.S__bg__14 {
  background-color: #fff;
}

.S__bg__15 {
  background-color: rgba(64, 64, 64, 0.5);
}

.S__bg__16 {
  background-color: #fff;
}

.S__util__01 {
  list-style-type: none;
}

.U__center__01 {
  text-align: center;
}

.U__center__02 {
  display: block;
  margin: 0 auto;
}

.U__center__03 > * {
  text-align: center;
  display: block;
  margin: 0 auto 10px auto;
}
@media all and (min-width: 470px) {
  .U__center__03 > * {
    text-align: left;
  }
}

.U__center__05,
.U__center__04 {
  position: relative;
}
.U__center__05 > *:first-child,
.U__center__04 > *:first-child {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  transform: translate(-50%, -50%);
}

.U__center__04 > *:first-child {
  top: 40%;
}

.U__center__05 > *:first-child {
  bottom: 43%;
}
@media all and (min-width: 600px) {
  .U__center__05 > *:first-child {
    bottom: 40%;
  }
}

.U__hidden {
  display: none;
}

.U__hidden__01 {
  display: none;
}

.U__spread__01 {
  position: relative;
}
.U__spread__01 > *:first-child,
.U__spread__01 > *:last-child {
  position: absolute;
}
.U__spread__01 > *:first-child {
  left: 0;
}
.U__spread__01 > *:last-child {
  right: 0;
}

.U__array__01 > * {
  vertical-align: middle;
  display: inline-block;
}

.U__array__02 > * {
  vertical-align: top;
  display: inline-block;
}

@media all and (min-width: 800px) {
  .U__array__03 > * {
    vertical-align: top;
    display: inline-block;
  }
}

.U__array__04 > * {
  vertical-align: top;
  display: inline-block;
}
@media all and (min-width: 800px) {
  .U__array__04 > * {
    display: block;
  }
}

.U__array__05 > * {
  /*vertical-align: top;*/
  /*@media all and (min-width: 1200px) {*/
  /*vertical-align: top;*/
  /*display: inline-block;*/
  /*}*/
}

.ie9 img[src*=".svg"] {
  width: 100%;
}

/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%;
  }
}
.U__res__01 {
  height: auto;
  max-width: 100%;
}

.U__res__02 {
  height: auto;
  max-width: 100%;
}

/*@media all and (min-width: 320px) {*/
/*.U__res__02{*/
/*height: auto;*/
/*max-width: auto; */
/*width: 250px; */
/*}*/
/*}*/
/*@media all and (min-width: 500px) {*/
/*.U__res__02{*/
/*height: auto;*/
/*max-width: auto; */
/*width: 400px; */
/*}*/
/*}*/
/*@media all and (min-width: 400px) {*/
/*.U__res__02{*/
/*height: auto;*/
/*max-width: 100%; */
/*}*/
/*}*/
.icon-alone {
  display: inline-block;
  /* Chrome 19 was weird with clickability without this */
}

.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.cms__01 p,
.cms__02 p {
  margin: 0 0 20px;
}

.cms__01 img,
.cms__02 img {
  height: auto;
  /*max-width: 40%; */
  max-width: 100%;
}
@media all and (min-width: 400px) {
  .cms__01 img,
  .cms__02 img {
    max-width: 100%;
  }
}

.cms__01 img {
  margin: 0 0 30px 0;
}

.cms__02 img {
  margin: 0 0 40px 0;
  display: block;
}

.cms__01 ul {
  margin: 0 0 20px;
}

@media all and (min-width: 400px) {
  .cms__01 img {
    float: right;
    width: 50%;
    margin: 25px;
  }
}
@media all and (min-width: 800px) {
  .cms__01 img {
    width: auto;
  }
}
.truss__01 .wrapper__01--truss__01 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  height: 400px;
  text-align: center;
}
.truss__01 .wrapper__01--truss__01:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.truss__01 .header--truss__01 {
  height: 87px;
  position: relative;
  margin: 0 0 20px 0;
  z-index: 5;
}

.truss__03 {
  margin: 0;
  position: relative;
}

.truss__13 .item__01--truss__13 {
  display: block;
  position: absolute;
  right: 2.5%;
  top: 0;
  z-index: 9;
}

.title__01--truss__03 {
  display: block;
  z-index: 3;
  margin: 0;
  padding: 0;
  position: relative;
}

.title__02--truss__03 {
  display: inline-block;
  padding: .5% 5% .5% 5%;
  position: relative;
  margin-left: -4%;
  z-index: 6;
  top: 27px;
}

.title__03--truss__03,
.title__04--truss__03 {
  display: block;
  margin: 0 2%;
  /*line-height: 115%;*/
  line-height: 115%;
  vertical-align: middle;
}

.truss__23 .img--truss__23 {
  max-width: 180px;
  margin: 0;
  width: 65%;
  /*margin-top: 10px;*/
  /*margin-bottom: 5px;*/
}
@media all and (min-width: 600px) {
  .truss__23 .img--truss__23 {
    width: 100%;
  }
}

.title__05--truss__23,
.title__06--truss__23 {
  margin: 0 .13em;
}

.truss__24 .img--truss__24 {
  cursor: pointer;
}
.truss__24 .content__01--truss__24 {
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.truss__25 .wrapper__01--truss__25 {
  /*box-sizing: border-box;*/
}

.truss__27 .item__01--truss__27 {
  margin-bottom: -4px;
}

@media all and (min-width: 550px) {
  .title__01--truss__03 {
    display: inline-block;
    padding: .5% 5% .5% 5%;
    position: relative;
    margin-left: -4%;
    z-index: 6;
    top: 30px;
  }
}
@media all and (min-width: 600px) {
  .title__01--truss__03 {
    /*top: 0;*/
    top: 30px;
  }
}
@media all and (min-width: 800px) {
  .title__01--truss__03 {
    /*top: 0;*/
    top: 35px;
  }
}
@media all and (min-width: 1000px) {
  .title__01--truss__03 {
    /*top: 0;*/
    top: 40px;
  }
}
@media all and (min-width: 1200px) {
  .title__01--truss__03 {
    /*top: 0;*/
    /*top: 23px;*/
    top: 44px;
  }
}
@media all and (min-width: 1400px) {
  .title__01--truss__03 {
    /*top: 0;*/
    top: 50px;
  }
}
.truss__02 {
  width: 40%;
  height: 35%;
  /*width: 30%;*/
  /*height: 30%;*/
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.truss__41 .logo__04--truss__41 {
  left: 45px;
  vertical-align: middle;
  position: absolute;
  top: 15px;
}
@media all and (min-width: 600px) {
  .truss__41 .logo__04--truss__41 {
    left: 75px;
  }
}
.truss__41 .logo__04--truss__41,
.truss__41 .header--truss__41 {
  display: inline-block;
}

.truss__42 .title__01--truss__42 {
  margin: 0 0 20px;
}

.truss__43 .sidebar__01--truss__43,
.truss__43 .sidebar__02--truss__43 {
  padding: 15px;
  width: 100%;
}
@media all and (min-width: 470px) {
  .truss__43 .sidebar__01--truss__43,
  .truss__43 .sidebar__02--truss__43 {
    width: 47.5%;
  }
}
@media all and (min-width: 800px) {
  .truss__43 .sidebar__01--truss__43,
  .truss__43 .sidebar__02--truss__43 {
    min-height: 311px;
    width: auto;
  }
}
.truss__43 .sidebar__01--truss__43 {
  margin: 0 20px 20px 0;
}
@media all and (min-width: 800px) {
  .truss__43 .sidebar__01--truss__43 {
    min-height: 0;
    margin-right: 0;
  }
}

.truss__44 .list--truss__44 {
  padding: 0 0 0 25px;
}

.truss__45 .item__01--truss__45 {
  padding: 3px 0;
  display: block;
}

.truss__46 .content__02--truss__46 {
  margin-bottom: 35px;
}

.truss__47 .title__01--truss__47 {
  margin: 0 0 20px 0;
}
.truss__47 .item__01--truss__47 {
  padding: 0;
}

@media all and (min-width: 1200px) {
  .truss__48 .wrapper__04--truss__48 {
    width: 70%;
  }
}
.truss__48 .sidebar__01--truss__48 {
  position: relative;
  display: none;
  padding: 0;
}
@media all and (min-width: 1200px) {
  .truss__48 .sidebar__01--truss__48 {
    display: inline-block;
    margin-right: 5%;
    width: 25%;
  }
}

.truss__49 .wrapper__01--truss__49 {
  min-height: 100%;
}

.truss__50 .item__01--truss__50 {
  margin: 15px 0;
}

.truss__52 .item__01--truss__52 {
  margin-left: -4px;
  text-align: left;
  width: 100%;
  height: 290px;
}
@media (min-width: 600px) {
  .truss__52 .item__01--truss__52 {
    width: 50%;
  }
}
@media (min-width: 800px) {
  .truss__52 .item__01--truss__52 {
    width: 25%;
  }
}

.truss__53 .item__01--truss__53 {
  width: 50%;
}

.truss__54 .item__02--truss__54 {
  padding: 20px 30px;
  position: absolute;
  top: -75px;
}

.truss__55 .item__01--truss__55 {
  min-width: 180px;
  z-index: 1;
}
@media (min-width: 600px) {
  .truss__55 .item__01--truss__55 {
    min-width: 320px;
  }
}

.truss__56 .item__01--truss__56 {
  margin: 0;
}

.truss__57 .item__01--truss__57 {
  margin: 0;
  padding: 1rem 2rem;
  width: 100%;
}

.truss__58 .wrapper__01--truss__58 {
  position: relative;
}
.truss__58 .wrapper__01--truss__58:after {
  content: '';
  position: absolute;
  height: 100%;
  display: block;
}

.truss__59 .title__01--truss__59 {
  position: absolute;
  margin: auto;
  top: 41%;
  left: 0;
  right: 0;
  width: 50%;
  z-index: 1;
}
.truss__59 .wrapper__01--truss__59 {
  /*min-height: 100%;*/
  /* equal to footer height */
  margin-bottom: -60px;
  padding: 10px 5%;
  top: -100px;
  /*padding-bottom: 85px;*/
  position: relative;
  height: auto;
  /*min-height: 100%;*/
  max-width: 900px;
}
.truss__59 .wrapper__01--truss__59:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.truss__60 .item__01--truss__60 {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  border: 5px solid transparent;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}
@media all and (min-width: 550px) {
  .truss__60 .item__01--truss__60 {
    width: 50%;
  }
}
@media all and (min-width: 900px) {
  .truss__60 .item__01--truss__60 {
    width: 50%;
  }
}
@media all and (min-width: 1400px) {
  .truss__60 .item__01--truss__60 {
    width: 33.333%;
  }
}

.truss__61 .item__01--truss__61 {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
.truss__61 .item__03--truss__61 {
  position: absolute;
  left: 40px;
}

.truss__06 .nav__01--truss__06 {
  display: none;
}
.truss__06 .wrapper__01--truss__06 {
  display: inline-block;
  margin: 0 auto 0 12%;
}
@media all and (min-width: 1350px) {
  .truss__06 .wrapper__01--truss__06 {
    margin: 0 auto;
  }
}

/*.truss__07{*/
/*position: relative;*/
/*z-index:5;*/
/*}*/
/*.truss__07{*/
/*top: 10px;*/
/*}*/
.truss__09 {
  position: relative;
  height: 100%;
}
.truss__09 .wrapper__02--truss__09,
.truss__09 .wrapper__01--truss__09 {
  position: relative;
}
.truss__09 .wrapper__01--truss__09,
.truss__09 .wrapper--truss__09 {
  margin: 0 auto;
  text-align: center;
  /*height: 100%;*/
}
.truss__09 .wrapper__02--truss__09 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  text-align: center;
}
.truss__09 .wrapper__01--truss__09,
.truss__09 .wrapper__03--truss__09,
.truss__09 .wrapper__05--truss__09,
.truss__09 .wrapper__09--truss__09 {
  /*padding-bottom: 85px;*/
  position: relative;
  height: auto;
  /*min-height: 100%;*/
  max-width: 900px;
}
.truss__09 .wrapper__09--truss__09:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.truss__09 .wrapper__03--truss__09,
.truss__09 .wrapper__05--truss__09 {
  padding-top: 120px;
}
@media all and (min-width: 1200px) {
  .truss__09 .wrapper__03--truss__09,
  .truss__09 .wrapper__05--truss__09 {
    padding-top: 150px;
  }
}
.truss__09 .wrapper__03--truss__09,
.truss__09 .wrapper__05--truss__09,
.truss__09 .wrapper__09--truss__09 {
  /*min-height: 100%;*/
  /*margin-bottom: -60px; */
  /*box-sizing: border-box;*/
  position: relative;
  /*&:after {*/
  /*content: "";*/
  /*display: block;*/
  /*height: 60px;*/
  /*}*/
}
.truss__09 .wrapper__06--truss__09,
.truss__09 .wrapper__10--truss__09 {
  text-align: center;
  padding-top: 90px;
  position: relative;
}
.truss__09 .wrapper__04--truss__09 {
  width: 70%;
}
.truss__09 .wrapper__06--truss__09 {
  height: 100%;
}
.truss__09 .wrapper__09--truss__09 {
  padding: 10px 5%;
  top: -100px;
}
.truss__09 .nav__button__01--truss__09 {
  display: none;
}
.truss__09 .sidebar__01--truss__09 {
  position: relative;
  display: none;
  padding: 140px 0 0 0;
}
@media all and (min-width: 1200px) {
  .truss__09 .sidebar__01--truss__09 {
    display: inline-block;
    margin-right: 5%;
    width: 25%;
  }
}
.truss__09 .content__01--truss__09 {
  width: 100%;
}
@media all and (min-width: 1200px) {
  .truss__09 .content__01--truss__09 {
    width: 70%;
  }
}
.truss__09 .wrapper__08--truss__09 {
  position: relative;
  height: 100%;
}

/*.wrapper__01--truss__09:after{*/
/*position: absolute;*/
/*top: 0;*/
/*content: '';*/
/*background-image: url('../images/filler3.jpg');*/
/*height: 200px;*/
/*width: 100%;*/
/*display: block;*/
/*z-index: -1;*/
/*background-size: cover;*/
/*background-position: top center;*/
/*background-repeat: no-repeat;*/
/*}*/
/*@media all and (min-width: 800px) {*/
/*.wrapper__01--truss__09:after{*/
/*height: 193px;*/
/*}*/
/*}*/
/*@media all and (min-width: 1200px) {*/
/*.wrapper__01--truss__09:after{*/
/*height: 225px;*/
/*}*/
/*}*/
/*.title__01--truss__03{*/
/*padding: .5% 5% .5% 5%;*/
/*margin-top: -1%;*/
/*margin-left: -5%;*/
/*}*/
/*.title__01--truss__07,*/
/*.title__02--truss__07{*/
/*padding: 0 5%;*/
/*margin: 0;*/
/*position: relative;*/
/*z-index: 2;*/
/*line-height: 300%;*/
/*}*/
/*.bg__01--truss__07,*/
/*.bg__02--truss__07{*/
/*bottom: 10%;*/
/*left: 0;*/
/*position: absolute;*/
/*right: 0;*/
/*top: 15%;*/
/*z-index: 1;*/
/*}*/
.truss__41 .header__02--truss__41 {
  width: 100%;
  /*margin-bottom: 23%;*/
  /*margin-top: 20%;*/
  /*padding: 6% 9% 6% 9%;*/
}

.truss__41 .header__04--truss__41 {
  margin: 23px 0 0 0;
}

.truss__12 .nav--truss__12 {
  display: none;
}
.truss__12 .content__01--truss__12 {
  /*padding: 0 0 50px;*/
  padding: 0 0 30px;
}
@media all and (min-width: 1200px) {
  .truss__12 .content__01--truss__12 {
    max-width: 1200px;
  }
}

.truss__12 .wrapper__01--truss__12 {
  padding: 0 0 50px;
}
.truss__12 .content__01--truss__12 {
  margin: 0 3%;
}

@media all and (min-width: 1200px) {
  .truss__12 .nav--truss__12 {
    display: inline-block;
    height: 87px;
    position: relative;
    text-align: left;
    width: 100%;
  }

  .truss__41 .header__03--truss__41,
  .truss__41 .header__04--truss__41 {
    position: absolute;
    top: 0;
    left: 15px;
  }

  .truss__12 .content__01--truss__12,
  .truss__12 .wrapper__01--truss__12 {
    padding: 0 0 30px;
    /*padding: 0 0 80px;*/
  }

  .truss__41 .logo__04--truss__41 {
    margin-top: 0;
  }
}
@media all and (min-width: 1200px) and (min-width: 1200px) {
  .truss__41 .logo__04--truss__41 {
    left: 3%;
  }
}
@media all and (min-width: 1000px) {
  .truss__41 .header__02--truss__41 {
    /*margin-bottom: 19%;*/
    /*margin-bottom: 23%;*/
  }
}
@media all and (min-width: 1200px) {
  .truss__41 .header__02--truss__41 {
    /*margin-bottom: 18%;*/
    /*margin-bottom: 23%;*/
  }
}
.truss__08 {
  text-align: center;
}
.truss__08 .title__01--truss__08 {
  margin: 0;
  position: absolute;
  top: 100px;
  left: 3%;
  z-index: 3;
}
.truss__08 .phone--truss__08 {
  display: none;
  z-index: 1;
}
.truss__08 .nav__01--truss__08 {
  position: absolute;
  top: 0;
  /*height: 100%;*/
  width: 100%;
  z-index: 10;
}
.truss__08 .logo--truss__08 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 80%;
  z-index: 99999;
}
@media all and (min-width: 800px) {
  .truss__08 .logo--truss__08 {
    width: 47%;
  }
}
@media all and (min-width: 500px) {
  .truss__08 .sig--truss__08 {
    position: absolute;
    right: 1.5%;
    bottom: 65px;
    width: auto;
  }
}

.truss__08 .content__01--truss__08,
.truss__12 .content__02--truss__12 {
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 60px;
  margin: 0 auto;
  /*overflow-y: auto;*/
  /*overflow-x: hidden;*/
  width: 100%;
  /*max-height: 50%;*/
  /*max-height: 50%;*/
  z-index: 4;
}

.truss__12 .content__03--truss__12,
.truss__12 .content__04--truss__12 {
  border-size: border-box;
}
.truss__12 .content__04--truss__12 {
  padding-top: 0;
  border: 5px solid transparent;
}
.truss__12 .content__03--truss__12 {
  padding-top: 4px;
}
@media all and (min-width: 750px) {
  .truss__12 .content__02--truss__12 {
    width: 40%;
    max-width: 600px;
  }
}

.truss__08 .logo--truss__08,
.truss__12 .logo--truss__12,
.truss__09 .header__01--truss__09,
.truss__12 .header__01--truss__12 {
  display: inline-block;
}

.truss__08 .footer--truss__08,
.truss__12 .footer--truss__12 {
  position: absolute;
  padding: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  z-index: 1;
}

.truss__09 .footer__01--truss__09 {
  /*bottom: 0;*/
  position: relative;
  height: 60px;
  width: 100%;
}

.truss__09 .header__01--truss__09,
.truss__12 .header__01--truss__12 {
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.truss__09 .header__01--truss__09:before,
.truss__12 .header__01--truss__12:before {
  position: relative;
  /*z-index: 9999999;*/
  content: '';
  display: inline-block;
  /*Think I have to set the height to 75px instead of 100% b/c the container does not have a height.  Not 100% sure though*/
  height: 70px;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
@media all and (min-width: 600px) {
  .truss__09 .header__01--truss__09:before,
  .truss__12 .header__01--truss__12:before {
    height: 90px;
  }
}

/*@media all and (min-width: 800px) {*/
/*.truss__12 .header__01--truss__12{*/
/*padding: 0 10% 0;*/
/*}*/
/*}*/
@media all and (min-width: 1000px) {
  .truss__12 .nav--truss__12 {
    text-align: center;
    float: none;
    margin-right: 15px;
  }
}
/*@media all and (min-width: 1200px) {*/
/*.truss__12 .header__01--truss__12{*/
/*margin: 30px 0 40px 0;*/
/*}*/
/*}*/
.truss__11 {
  /*position: absolute;*/
  /*height: 100%;*/
  /*bottom: 0;*/
  /*top: 0;*/
  /*right: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*text-align: center;*/
}

.email--truss__14,
.phone--truss__14,
.instagram--truss__14,
.fb--truss__14,
.pinterest--truss__14,
.email__01--truss__14,
.houzz--truss__14,
.houzz__01--truss__14,
.phone__01--truss__14,
.instagram__01--truss__14,
.fb__01--truss__14,
.pinterest__01--truss__14 {
  font-size: 1.8em;
  margin: 0 10px;
  text-decoration: none;
}

.houzz--truss__14,
.houzz__01--truss__14 {
  margin: 0 3px 0 6px;
}

.email--truss__14,
.phone--truss__14,
.instagram--truss__14,
.houzz--truss__14,
.fb--truss__14,
.pinterest--truss__14 {
  color: rgba(0, 0, 0, 0.6);
}

.email__01--truss__14,
.instagram__01--truss__14,
.fb__01--truss__14,
.houzz__01--truss__14,
.pinterest__01--truss__14 {
  color: rgba(255, 255, 255, 0.95);
}

.phone--truss__14:before,
.phone__01--truss__14:before {
  color: #39B54A;
  content: "T";
}

.email__01--truss__14:before,
.email--truss__14:before {
  color: #B6D1FE;
  content: "M";
}

@media all and (min-width: 600px) {
  .email__01--truss__14,
  .phone__01--truss__14,
  .email--truss__14,
  .phone--truss__14 {
    display: none;
  }

  .truss__08 .phone--truss__08 {
    position: absolute;
    bottom: 60px;
    left: 2%;
    display: block;
  }
}
.email__01--truss__14,
.phone__01--truss__14,
.fb__01--truss__14,
.houzz__01--truss__14,
.instagram__01--truss__14,
.pinterest__01--truss__14,
.email--truss__14,
.phone--truss__14,
.fb--truss__14,
.instagram--truss__14,
.pinterest--truss__14 {
  font-size: 2em;
}

.pinterest__01--truss__14:before,
.pinterest--truss__14:before {
  content: "P";
}

.fb__01--truss__14:before,
.fb--truss__14:before {
  color: #3A5795;
  content: "f";
}

.houzz__01--truss__14:before,
.houzz--truss__14:before {
  color: #7AC143;
  content: "H";
}

.instagram__01--truss__14:before,
.instagram--truss__14:before {
  content: "I";
  color: #6C5143;
}

.phone__01--truss__14,
.email__01--truss__14,
.instagram__01--truss__14,
.fb__01--truss__14,
.pinterest__01--truss__14,
.control--truss__18:before,
.phone--truss__14,
.email--truss__14,
.instagram--truss__14,
.houzz--truss__14,
.houzz__01--truss__14,
.fb--truss__14,
.pinterest--truss__14,
.arrow__right--truss__11,
.arrow__left--truss__11 {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arrow__right--truss__11,
.arrow__left--truss__11 {
  font-size: 1.8em;
  color: rgba(0, 0, 0, 0.6);
}

.arrow__right--truss__11,
.arrow__left--truss__11 {
  display: block;
  margin-bottom: -20px;
  padding: 0;
  position: absolute;
  text-decoration: none;
}

.arrow__left--truss__11 {
  top: 44.8%;
}

.arrow__left--truss__11,
.truss__41 .header__04--truss__41 {
  vertical-align: middle;
  left: 1.5%;
}

.arrow__right--truss__11 {
  right: 1.5%;
  top: 44.8%;
}

.arrow__right--truss__11:before {
  content: "\3e";
}

.arrow__left--truss__11:before {
  content: "\3c";
}

.social--truss__15 {
  position: absolute;
  width: 100%;
}

.contact--truss__15 {
  display: none;
}

@media all and (min-width: 600px) {
  .contact--truss__15,
  .social--truss__15 {
    width: 50%;
  }

  .contact--truss__15 {
    display: inline-block;
  }
}
@media all and (min-width: 600px) {
  .contact--truss__15 {
    position: absolute;
    bottom: 5px;
    left: 5%;
    text-align: left;
  }
}
@media all and (min-width: 1000px) {
  .contact--truss__15 {
    bottom: 18px;
  }
}
.social--truss__15 {
  bottom: 15px;
  right: 5%;
  text-align: right;
}

.heading--truss__16 {
  display: block;
  margin: 0 9px 1px 0;
}

.phone--truss__16 {
  display: block;
  margin-right: 9px;
}

@media all and (min-width: 1000px) {
  .heading--truss__16,
  .phone--truss__16 {
    display: inline-block;
  }
}
@media all and (min-width: 400px) {
  .arrow__right--truss__11,
  .arrow__left--truss__11 {
    top: 44.7%;
  }
}
@media all and (min-width: 500px) {
  .arrow__right--truss__11,
  .arrow__left--truss__11 {
    font-size: 2em;
  }

  .arrow__left--truss__11,
  .truss__41 .header__04--truss__41,
  .contact--truss__15 {
    left: 2%;
  }

  .truss__08 .sig--truss__08,
  .social--truss__15,
  .truss__13 .item__01--truss__13,
  .arrow__right--truss__11 {
    right: 2%;
  }
}
.truss__17 .wrapper--truss__17 {
  margin: 0;
}

/*@media all and (min-width: 320px) {*/
/*.truss__17 .wrapper--truss__17{*/
/*line-height: 50px;*/
/*}*/
/*}*/
.truss__18 .content--truss__18 {
  padding: 15px 20px 40px 20px;
}
.truss__18 .content--truss__18,
.truss__18 .content__01--truss__18 {
  margin: 0;
  position: relative;
  overflow: auto;
  max-height: 35%;
  left: 0;
  top: 0;
  text-align: left;
}
.truss__18 .content__01--truss__18 {
  padding: 0 3% 30px 0;
}
@media all and (min-width: 800px) {
  .truss__18 .content__02--truss__18 {
    padding: 0 4% 0 0;
    width: 70%;
  }
}
@media all and (min-width: 800px) {
  .truss__18 .content__03--truss__18 {
    width: 30%;
  }
}
.truss__18 .content__04--truss__18 {
  width: 100%;
}
.truss__18 .content--truss__18 {
  display: none;
}
.truss__18 .item__01--truss__18 {
  /*margin-top: 15px;*/
  min-width: 200px;
  width: 30%;
}

@media all and (min-width: 800px) {
  .truss__18 .content--truss__18 {
    top: -15px;
    padding: 35px 40px 40px 25px;
  }
}
@media all and (min-width: 450px) {
  .truss__18 .content--truss__18 {
    max-height: 40%;
  }
}
@media all and (min-width: 500px) {
  .truss__18 .content--truss__18 {
    max-height: 60%;
  }
}
@media all and (min-width: 700px) {
  .truss__18 .content--truss__18 {
    max-height: 65%;
  }
}
@media all and (min-width: 900px) {
  .truss__18 .content--truss__18 {
    max-height: 70%;
  }
}
.truss__18 .content--truss__18,
.truss__18 .wrapper__01--truss__18 {
  text-align: left;
}

.truss__18 .wrapper__01--truss__18 {
  position: relative;
  display: block;
  z-index: 0;
}

.truss__18 .control--truss__18 {
  cursor: pointer;
  position: absolute;
  margin: 0 30px 0 0;
  text-decoration: none;
  right: -3%;
  bottom: 13px;
  z-index: 0;
}

/*@media all and (min-width: 800px) {*/
/*.truss__18 .control--truss__18{*/
/*bottom: 10px;*/
/*}*/
/*}*/
.control--truss__18:before {
  content: "+";
  cursor: pointer;
  font-size: 1.5em;
  position: relative;
  top: 1px;
  right: 5px;
}

.truss__19 .title--truss__19,
.truss__19 .title__01--truss__19,
.truss__19 .title__02--truss__19 {
  /*display: inline-block;*/
  display: block;
  border-size: border-box;
  margin: 0;
  /*width: 100%;*/
}
@media all and (min-width: 600px) {
  .truss__19 .title__01--truss__19 {
    /*padding: 15px 18px 7px 18px;*/
    padding: 0 18px 20px 0;
  }
}
@media all and (min-width: 1200px) {
  .truss__19 .title__01--truss__19 {
    /*padding: 0 18px 20px 18px;*/
    padding: 0 18px 20px 0;
  }
}
.truss__19 .title--truss__19 {
  /*width: 100%;*/
  padding: 0 15px 20px 25px;
  /*display: inline-block;*/
}
.truss__19 .title__01--truss__19 {
  /*padding: 0 18px 9px 18px;*/
  padding: 0 18px 20px 0;
}
.truss__19 .title__02--truss__19 {
  padding: 0 18px;
}

.truss__20 .container--truss__20 {
  display: inline-block;
}

.truss__21 .nav--truss__21 {
  margin-left: 0px;
  padding-left: 20px;
}

.truss__22 .control--truss__22 {
  bottom: 160px;
}

.truss__03 .item--truss__03 {
  text-decoration: none;
}

@media all and (min-width: 750px) {
  .truss__22 .control--truss__22 {
    bottom: 100px;
  }
}
@media all and (min-width: 600px) {
  .truss__12 .content__01--truss__12,
  .truss__12 .wrapper__01--truss__12 {
    /*padding: 0 0 50px;*/
    padding: 0 0 30px;
  }
}
@media all and (min-width: 600px) {
  .arrow__right--truss__11,
  .arrow__left--truss__11 {
    font-size: 2em;
    top: 44.8%;
  }

  /*.contact--truss__15,*/
  .truss__41 .header__04--truss__41,
  .arrow__left--truss__11 {
    left: 5%;
  }

  .truss__12 .content__01--truss__12,
  .truss__12 .wrapper__01--truss__12 {
    /*padding: 0 0 50px;*/
    padding: 0 0 30px;
  }

  /*.social--truss__15,*/
  .truss__08 .sig--truss__08,
  .truss__13 .item__01--truss__13,
  .arrow__right--truss__11 {
    right: 5%;
  }
}
@media all and (min-width: 800px) {
  .arrow__right--truss__11,
  .arrow__left--truss__11 {
    font-size: 2.4em;
    top: 44.8%;
  }

  .arrow__left--truss__11 {
    left: 6.5%;
  }

  /*left: 10%;*/
  /*}*/
  .truss__12 .content__01--truss__12,
  .truss__12 .wrapper__01--truss__12 {
    /*padding: 0 0 100px;*/
    padding: 0 0 30px;
  }

  .truss__08 .sig--truss__08,
  .truss__13 .item__01--truss__13,
  .arrow__right--truss__11 {
    right: 6.5%;
  }
}
@media all and (min-width: 1000px) {
  .arrow__right--truss__11,
  .arrow__left--truss__11 {
    font-size: 2.65em;
  }

  .truss__12 .content__01--truss__12,
  .truss__12 .wrapper__01--truss__12 {
    /*padding: 0 0 100px;*/
    padding: 0 0 30px;
  }

  .arrow__left--truss__11 {
    left: 7%;
  }

  .truss__08 .sig--truss__08,
  .truss__13 .item__01--truss__13,
  .arrow__right--truss__11 {
    right: 7%;
  }
}
@media all and (min-width: 1200px) {
  .arrow__right--truss__11,
  .arrow__left--truss__11 {
    font-size: 2.7em;
    margin-top: -15px;
  }

  .arrow__left--truss__11 {
    left: 8%;
  }

  .truss__12 .content__01--truss__12,
  .truss__12 .wrapper__01--truss__12 {
    margin: 0 auto;
    /*max-width: 780px;*/
  }

  .truss__08 .sig--truss__08,
  .truss__13 .item__01--truss__13,
  .arrow__right--truss__11 {
    right: 8%;
  }
}
@media all and (min-width: 1400px) {
  .arrow__right--truss__11,
  .arrow__left--truss__11 {
    font-size: 3em;
  }

  .truss__41 .header__04--truss__41,
  .arrow__left--truss__11 {
    left: 10%;
  }

  /*.truss__12 .content__01--truss__12,*/
  /*.truss__12 .wrapper__01--truss__12{*/
  /*margin: 0 10% 50px;*/
  /*max-width: 900px;*/
  /*}*/
  .truss__08 .sig--truss__08,
  .truss__13 .item__01--truss__13,
  .arrow__right--truss__11 {
    right: 10%;
  }
}
@media all and (max-width: 1200px) {
  #nav {
    display: none;
  }
}
/*Work Page Header*/
.S__header__01 {
  color: #fff;
  cursor: default;
  position: relative;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.S__header__01:before {
  /*background-size: cover;*/
  /*background-position: center center;*/
  /*background-attachment: fixed;*/
  /*content: "";*/
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*z-index: 1;*/
  /*width: 100%;*/
  /*display: block;*/
  /*background-image: url('../images/filler3.jpg');*/
  /*-webkit-filter: blur(2px);*/
  /*-moz-filter: blur(2px);*/
  /*-o-filter: blur(2px);*/
  /*-ms-filter: blur(2px);*/
  /*filter: blur(2px);*/
}

.S__cont__01,
.S__cont__02,
.S__cont__03 {
  background-color: rgba(255, 255, 255, 0.6);
}

.S__cont__01,
.S__cont__02,
.S__cont__03 {
  padding: 0 1.5em 0 1.5em;
  margin-top: 1.5em;
}

.S__cont__02 {
  background-color: white;
}

@media all and (min-width: 750px) {
  .S__cont__02 {
    background-color: rgba(255, 255, 255, 0.6);
  }
}
.S__cont__01,
.S__cont__03 {
  display: inline-block;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.S__cont__01 {
  border-radius: 0.35em;
}

.S__cont__03 {
  border-radius: 0.35em 0.35em 0 0;
}

.S__cont__04 {
  display: inline-block;
  margin: 0;
}

.S__cont__05 {
  /*background-color: rgba(38,97,127, 0.5);*/
  /*background-color: rgba(255,244,80, .8);*/
  background-image: url("../images/background/brillant.png");
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
  background-color: white;
  background-image: url("../images/background/subtle_dots.png");
  /*background-image: url('../images/background/satinweave.png');*/
  /*background-image: url('../images/background/cream_dust.png');*/
}

.S__cont__06,
.S__cont__14 {
  background-color: white;
  background-image: url("../images/background/subtle_dots.png");
  /*background-image: url('../images/background/satinweave.png');*/
  /*background-image: url('../images/background/cream_dust.png');*/
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
  width: 100%;
}

.S__cont__07 {
  background-color: rgba(0, 0, 0, 0.5);
  /*background-color: rgba(0,125,239,1);*/
  border-radius: 10px 10px 0 0;
  display: inline-block;
  margin: 0;
  padding: 10px 20px 11px 20px;
}

.S__inset__01 {
  /* Shadows are visible under slightly transparent text color */
  color: rgba(10, 60, 150, 0.8);
}

#nav > ul > li {
  display: inline-block;
  text-align: center;
  padding: 0 1.5rem;
}

[class*="S__sans"],
.mm-menu .mm-list > li > a.mm-subclose {
  font-family: Arial, Helvetica, sans-serif;
}

.S__sans__02,
.S__sans__03,
.S__sans__06,
.S__sans__07,
.S__sans__09,
.S__sans__10,
.S__sans__11,
.S__sans__12,
.S__sans__16,
.S__sans__18,
.mm-menu .mm-list > li > a.mm-subclose {
  letter-spacing: 0.05em;
}

.S__sans__02,
.S__sans__12,
.mm-menu .mm-list > li > a.mm-subclose {
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}
.S__sans__02 ::-moz-selection,
.S__sans__12 ::-moz-selection,
.mm-menu .mm-list > li > a.mm-subclose ::-moz-selection {
  background: #5af;
  color: #fff;
  text-shadow: none;
}
.S__sans__02 ::selection,
.S__sans__12 ::selection,
.mm-menu .mm-list > li > a.mm-subclose ::selection {
  background: #5af;
  color: #fff;
  text-shadow: none;
}

.S__sans__03 {
  /*color: rgba(255,244,80, .8);*/
  /*color: rgba(38,97,127, 0.5);*/
  color: white;
}

.S__sans__06 {
  font-size: .9rem;
}
@media all and (min-width: 500px) {
  .S__sans__06 {
    font-size: 1rem;
  }
}
@media all and (min-width: 1100px) {
  .S__sans__06 {
    font-size: 1.2rem;
  }
}

.S__sans__03,
.S__sans__04,
.S__sans__06,
.S__sans__07,
.S__sans__18,
.S__sans__10 {
  text-decoration: none;
  font-weight: bold;
}

.S__sans__03,
.S__sans__04,
.S__sans__07,
.S__sans__18,
.S__sans__10 {
  font-size: 0.8rem;
}

.S__sans__06,
.S__sans__17,
.S__sans__19,
.S__sans__07 {
  color: rgba(255, 255, 255, 0.95);
}

.S__sans__18 {
  color: rgba(0, 0, 0, 0.95);
}

.S__sans__09,
.S__sans__10 {
  color: #0081eb;
  font-size: .8rem;
}

.S__sans__09 {
  font-size: .8rem;
}

.S__sans__10 {
  font-size: 1rem;
}

.S__sans__15,
.S__sans__11 {
  text-transform: uppercase;
}

.S__sans__11 {
  color: #214a6f;
  font-size: 1.2rem;
}

.S__sans__04,
.S__sans__15 {
  color: white;
}

.S__sans__04 {
  font-size: .7em;
  letter-spacing: 0.11em;
}

.S__sans__08 {
  /*color: #FDF7DD;*/
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 2px;
  /*color: rgba(204,169,3, 0.8);*/
  font-size: 2.2em;
}

@media all and (min-width: 1100px) {
  .S__sans__03,
  .S__sans__18,
  .S__sans__07 {
    font-size: 1em;
  }
}
.S__sans__03:hover {
  text-decoration: underline;
}

/*#nav > ul > li > span,*/
.mm-list > li > a.S__sans__12,
.mm-menu .mm-list > li > a.mm-subclose {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

.S__sans__02 {
  color: #006bbd;
  color: #00203c;
}

.S__sans__02,
.S__sans__16,
.S__sans__01 {
  font-size: .85em;
}

.S__sans__02,
.S__sans__01,
.S__sans__12,
.S__sans__16,
.mm-menu .mm-list > li > a.mm-subclose {
  display: block;
  /*color: #eee;*/
  /*color: rgba(0,0,0,0.75);*/
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.25em;
  height: 3.8em;
  line-height: 3.8em;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  outline: 0;
  /*padding-bottom: .3em;*/
}

.S__sans__13,
.S__sans__14,
.S__sans__20 {
  color: black;
  color: rgba(0, 0, 0, 0.75);
}

.S__sans__13,
.S__sans__14 {
  font-size: .85em;
}

.S__sans__14 {
  font-style: italic;
}

.S__sans__15 {
  text-align: center;
  font-size: 1.65rem;
  text-shadow: 2px 2px 10px black;
}
@media (min-width: 600px) {
  .S__sans__15 {
    font-size: 2.25rem;
  }
}
@media (min-width: 800px) {
  .S__sans__15 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .S__sans__15 {
    font-size: 3rem;
  }
}

.mm-menu .mm-list > li > a.mm-subclose {
  text-transform: none;
  letter-spacing: 1px;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  margin-right: 3px;
}

.S__sans__16 {
  color: white;
}

.S__sans__17 {
  font-size: 1.2em;
}

.S__sans__19 {
  font-style: italic;
  font-size: 1em;
}
@media (min-width: 800px) {
  .S__sans__19 {
    font-size: 1.2em;
    font-weight: bold;
  }
}

.S__sans__17 {
  font-weight: bold;
  text-decoration: none;
}

/*html, body {*/
/*width: 100%;*/
/*height: 100%;*/
/*position: relative;*/
/*}*/
/*html {*/
/*width: 100%;*/
/*height: 100%;*/
/*position: relative;*/
/*}*/
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-wrapper {
  /*padding: 54px 60px;*/
}

.header-logo {
  float: left;
  clear: none;
}

.header_nav {
  float: right;
  clear: none;
  font-family: 'Maven Pro', sans-serif;
  font-weight: normal;
}

.header_nav-wrapper {
  list-style: none;
}

.header_nav-item {
  margin-left: 22px;
  float: left;
  clear: none;
}

.header_nav-item-a {
  color: #fff;
  text-decoration: none;
}

.header_nav-item-a:hover {
  color: #eee;
}

.header_nav-item-a--btn {
  padding: 16px 18px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: transparent;
}

.header_nav-item-a--donate {
  margin-top: -18px;
}

.header_nav-item-a--btn:hover {
  border: 1px solid #eee;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.content_article {
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  text-align: center;
  position: relative;
}

/* The ghost, nudged to maintain perfect centering */
/*.content_article:before {*/
/*content: '';*/
/*display: inline-block;*/
/*height: 100%;*/
/*vertical-align: middle;*/
/*margin-right: -0.25em; [> Adjusts for spacing <]*/
/*}*/
.content_article-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  /*display: inline-block;*/
  /*vertical-align: middle;*/
}

.content_article--fast {
  /*background-image: url(../images/kitchen-new.jpg);*/
  background-image: url(/images/filler4.jpg);
}

.content_article--simple {
  background-image: url(/images/filler2.jpg);
}

.content_article--responsive {
  background-image: url(/images/filler1.jpg);
}

.content_article-h {
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  font-size: 108px;
  letter-spacing: -5px;
  margin: 0;
}

.content_article-p {
  font-family: 'Georgia', serif;
  font-size: 28px;
  margin: 0 0 48px 0;
  line-height: 1.2em;
}

.content_article-btns {
  clear: both;
  margin-bottom: 108px;
}

@media (max-height: 768px) {
  .content_article-btns {
    margin-bottom: 52px;
  }
}
@media (min-height: 900px) {
  .content_article-btns {
    margin-bottom: 128px;
  }
}
.content_article-btn:first-child {
  margin-right: 9px;
}

.content_article-img {
  position: relative;
  bottom: -5px;
  max-width: 800px;
}

.box-shadow {
  box-shadow: 0px 12px 24px 0px rgba(50, 50, 50, 0.75);
}

.S__cont__15 {
  box-shadow: 0px 0 30px 1px rgba(50, 50, 50, 0.99);
}

.S__cont__16 {
  background-color: white;
  box-shadow: 0 0 30px 1px rgba(50, 50, 50, 0.99);
  border-radius: 5px;
}

.S__cont__17 {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid white;
  /*width: 50px;*/
  /*height: 50px;*/
  /*position: absolute;*/
  /*box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);*/
  /*&:after {*/
  /*content: "";*/
  /*position: absolute;*/
  /*width: 25px;*/
  /*height: 25px;*/
  /*background: #fff;*/
  /*transform: rotate(45deg);*/
  /*top: 0;*/
  /*left: 0;*/
  /*box-shadow: -1px -1px 15px -2px rgba(0, 0, 0, 0.5);*/
  /*}*/
  /*&:hover,*/
  /*&:hover:after{*/
  /*box-shadow: none;*/
  /*}*/
}

.slider-nav__item {
  /*border-radius: 8px;*/
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.slider-nav__item:hover {
  background: rgba(255, 255, 255, 0.7);
}

.slider-nav__item--current {
  background: rgba(255, 255, 255, 0.7);
}

.slider-arrow {
  background-image: url(/images/glide-arrows.png);
  width: 17px;
  height: 28px;
  display: block;
  padding: 0;
}

.slider-arrow--left {
  margin-left: 36px;
  background-position: 0 0;
}

.slider-arrow--left:hover {
  background-position: 0 -28px;
}

.slider-arrow--right {
  margin-right: 36px;
  background-position: -17px 0;
}

.slider-arrow--right:hover {
  background-position: -17px -28px;
}

.footer {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 108px;
}

.loaded .placeholder-image {
  opacity: 0;
}

.loaded .placeholder-image {
  opacity: 0;
}

/*Glide.js overides*/
.glide {
  height: 90%;
}

.glide__track {
  padding: 0;
  margin: 0;
}

.glide__wrapper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.glide__arrow.prev,
.glide__arrow.next {
  display: none;
}
@media all and (min-width: 500px) {
  .glide__arrow.prev,
  .glide__arrow.next {
    display: block;
  }
}

.glide__slide {
  background-size: cover;
  height: 100%;
  position: relative;
  background-position: center center;
}

.S__carousel__01 {
  background-image: url("../images/placeholder.jpg");
}

.S__carousel__02 {
  background-image: url("../images/placeholder.jpg");
}
